
$primarycolor:#ed1d24;
body {
  font-family: 'Proxima Nova','proxima_nova_altbold', Georgia, Helvetica, sans-serif;
}
.ful-width-hundread{
  width: 100%;
}
.search-media{
  margin-bottom: 15px;
  h3{
    margin: 0;
    padding: 15px 0;
  }
}
.benifited-class .benifited-heading {
  font-size: 30px;
  text-align: center;
  color: #4c4c4c;
  padding-bottom: 15px;
  font-weight: bold;
}
.benifited-class .benefited-description {
  padding-bottom: 25px;
  font-size: 18px;
  line-height: 1.78;
  letter-spacing: 0;
  text-align: left;
  color: #4c4c4c;
  >*{
    text-align: left;
  }
}

#mySidenav{
display: block;
}
.right-menu{
display: none;
}
.sidenav {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1111111111;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transform: translateX(100%);
  transition: .25s;
  &.active{
    transform: translateX(0);
    transition: .25s;
  }
}
.bottom-menu .l-center li a:hover,.bottom-menu .l-center li a:focus,.bottom-menu .l-center li a:active{
  background-color: $primarycolor;
  color: #fff;
  transition: all .5s ease-in-out;
}
.sidenav a {

  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
  font-weight: 600;
}

.sidenav li{
  padding: 8px 15px 12px 20px;
}

.sidenav a:hover {
  color: red;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
.leader-bottom{
  margin-bottom: 50px!important;
}
.togle-btn ul li .nav-link, .togle-btn ul li .nav-link{
  background-color: #fff;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: #7a7a7a;
  min-width: 110px;
  padding: 10px;
}
.store-locator-container{
  background-color: #eee;
  padding:15px;
  .map-left{
    // display: block;
    // float: left;
    // width: 30%;
    // padding: 15px;
  }
  .map-right{
    // width: 70%;
    // display: block;
    // float: left;
    // padding: 15px;
  }
}

.togle-btn ul li:last-child{
  margin-left: -9px;
  // border-right:1px solid black;
}
.togle-btn ul li .nav-link {
    border: none;
    border-radius: 0;
    // border: 1px solid #ececec;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.togle-btn>.nav-tabs>li>a {
  margin-right: 0;
}
.btn-info{
  border:1px solid $primarycolor;
  background-color: $primarycolor;
  &:hover{
    border:1px solid $primarycolor;
    background-color: $primarycolor;
  }
}
.btn-default{
  outline: none;
  border:none;
}
.btn.disabled:hover{
  color: #333!important;
}
li:focus{
  outline: none;
}
.input-group-btn {
  // border: 1px solid #989898;
  // border-left: none;
  .btn-default{
    border: 1px solid #989898;
    border-radius: 0;
  }
  :hover{
    background-color: transparent;
  }
}
.text-info {
  color: #eef5f9;
}
.btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle{
  background-color: $primarycolor;
  color: #fff;
}
.btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus{
  background-color: $primarycolor;
  border: none;
  color: #fff;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn{
  background: #fff;
  display: block;
}
.tab-content{
  margin-top: 10px;
}
.btn.disabled:hover, .btn[disabled]:hover, fieldset[disabled]:hover .btn{
  color: black;
}
.uib-datepicker-popup.dropdown-menu{
  padding-right: 12px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-danger {
  color: #fff;
  background-color: #000000;
  border-color: #000;
  &:hover{
    background-color: #000000!important;
    border-color: #000!important;
  }
}
.btn-sm:hover{
  background-color: $primarycolor;
  color: #fff;
}
.btn-info:hover{
  background-color: $primarycolor!important;
  border:$primarycolor;
  padding: 6px 12px!important;
  transition: all .2s ease;
}
.btn-info{
  // padding: 5px 12px;
  transition: all .2s ease;
  padding: 5px 10px;
  // font-size: 14px;
}
// .btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active.focus, .open > .btn-info.dropdown-toggle:hover, .open > .btn-info.dropdown-toggle:focus, .open > .btn-info.dropdown-toggle.focus{
//   background-color: $primarycolor;
//   border-color: $primarycolor;
// }
.btn-sm:hover, .btn-group-sm > .btn:hover {
  background-color: transparent;
  color: #fff;
}

.btn-info:active, .btn-info.active,.btn-info.hover, .open > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #ef232c;
  border-color: #ef232c;
}
.btn-success{
  background-color: green;
  border-color: green;
  &:hover{
    background-color: green;
    border-color: green;
  }

}
.headerWrapper .header-right li:nth-last-child(2):after{
  display: none;
}
.padding-left{
  padding-left: 20px!important;
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align:center;
}
.togle-btn{
  .nav-tabs{
    border-bottom: none;
  }
}
.uib-datepicker-popup{
  .btn-default{
    color: #000;
  }
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color: $primarycolor;
  color: #fff;
  border:none!important;
}
.togle-btn >.nav-tabs > li > a{
  margin-right: 0;
}
.togle-btn >.nav-tabs > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
  zoom:1; /* hasLayout ie7 trigger */
}

.togle-btn .nav-tabs{
  text-align:center;
}
.header-brand{
      float: left;
    padding: 0;
    font-size: 18px;
    height: auto;
    width: 100px;
    margin-top: 8px;
  img{
    // width: 100%;
  }
}
.headerWrapper .header-right li:after{
  content: "|";
  position: absolute;
  right: 0;
  top: 11px;
  // color: #ded9d9;
  // border-right:1px solid #ded9d9;
}
.headerWrapper .header-right li:last-child:after{
  display: none;
}
.headerWrapper .header-right li:last-child{
  border:1px solid $primarycolor;
  border-radius: 5px;
      margin-top: -1px;
}
.headerWrapper{
  background: #fff;
  border-radius: 0;
  border:none;
  margin-bottom: 0;
  position: relative;
  .header-right{
    margin-top: 22px;
    li{
      a{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.6px;
        color: #2d2d2d;
        text-transform: uppercase;
        padding-top: 10px;
        padding-bottom: 10px;
        background: transparent;
        padding-bottom: 10px;
        transition: all .2s ease-in;
        &:hover,&:active,&:focus{
          // background-color: $primarycolor;
          // color: #fff;
          // transition: all .3s ease-in;
        }
      }
    }
  }
}
// .header-right li a:hover{
//   background-color: $primarycolor!important;
//   color: #fff;
//   transition: all .2s ease-in;
// }
.headerWrapper-bottom{
  background: #fff;
  border-radius: 0;
  border:none;
  margin-bottom: 0;
  position: relative;
  margin-top: 8px;
}
.report-section-left li:last-child{
  margin-left: 8px!important;
}

.border-middle{
  border-top:2px solid #dcdcdc;
  // margin-top: 20px;
}
.no-padding{
  padding: 0;
}
.header-right{
  li{
    a{
      font-size: 14px;
      color: #2d2d2d;
      font-weight: bold;
    }
  }
}
.n-right{
  width: 16%;
  margin-right: 10px;
  .input-group{
    margin-top: 12px;
  }
}
.f-ct{
  border:none;
  border-bottom: 1px solid #eee;
  height: 28px;
  font-size: 12px;
  box-shadow: none;
  font-weight: bold;
}
.btn-customs{
  padding: 3px 10px;
  background-color: transparent;
  border-bottom: 1px solid #eee;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent;
  border-color: #337ab7;
}
.headerWrapper .header-right .active a{
 background-color: $primarycolor;
 color: #fff;
}

.banner-who{
  background-size: cover;
  background-position: center center;
  height: 400px;
  width: 100%;
  .d-table{
    display: table;
    width: 100%;
    height: 100%;
    .d-cell{
      display: table-cell;
      width: 100%;
      height: 100%;
      text-align: center;
      vertical-align: middle;
      h3{
        color: #fff;
        font-size: 45px;
        font-weight: bold;
        text-align: center;
        color: #ffffff;
        text-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
        text-transform: uppercase;
        width: 80%;
        margin: 0 auto;

      }
    }
  }
}

.product-trade{
  margin-top: 30px;
  margin-bottom: 0!important;
}
.product-sec{
  margin-top:50px;
  .prodouct-heading{
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
  }
  .product-description{
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 500;
  }
}
.pro-bg-color{
  background-color: #f9f9f9;
  padding-bottom: 40px;
  padding-top: 10px;
}
.card-section{
  margin-top: 35px;
  .panel-sets{
    border:none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    .panel-sets-body{
      padding: 0;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
      a{
        display: block;
        text-decoration: none;
        img{
          width: 100%;
          display: block;
        }
        .card-text{
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0px;
          text-align: center;
          color: #2d2d2d;
          padding-top: 40px;
          padding-bottom: 25px;
          text-transform: uppercase;
          position: relative;
        }
      }
    }
  }
}
.card-text:before{
  content: "";
  position: absolute;
  top:20px;;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  background-color: #dcdcdc;
  height: 2px;
  display: block;
  margin: 0 auto;
}
.chose-section{
  width: 80%;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  .ch-heading{
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-align: center;
    color: #4c4c4c;
    margin: 0;
    /* padding: 30px 0; */
    padding-bottom: 50px;
    padding-top: 40px;

  }
}
.chose-focus-section{
  .chose-media{
    padding-bottom: 40px;
    min-height: 125px;
    .md-left{
      vertical-align: middle;
      padding-bottom: 20px;
      img{
        width: 50px;
      }
    }
    .m-body{

      .m-head{
        text-transform: uppercase;
        font-size: 16px;
        font-weight: bold;
        color: #4b4b4b;
      }
      .m-para{
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        color: #4a4a4a;
        // width: 335px;
        // padding-top: 5px;
      }
    }
  }
}
.bottom-menu{
  border-bottom: 1px solid #7d7d7d;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15);
  .l-center{
    margin-bottom: 0;
    li{
      a{
        font-size: 14px;
        color: #2d2d2d;
        text-decoration: none;
        font-weight: 600;
        display: block;
        padding: 15px 20px;
      }
    }
  }
}
.border-color-section{
  border-top:1px solid $primarycolor;
}
footer{
  padding: 15px;
  padding-top: 30px;
  .footer-left{
    .footer-logo{
      display: block;
      float: left;
      width: 30%;
      img{
        width: 150px;
        display: block;
      }
    }
    .footer-paragarph{
      width: 70%;
      display: block;
      float: right;
      p{
        margin-bottom: 0;
        text-align: left;
        color: #4a4a4a;
        font-weight: 500;
        padding-top: 10px;
      }
    }
  }
}
.footer-right{
  h3{
    margin: 0;
    font-size: 16px;
    color: #4a4a4a;
    padding: 5px 0;
  }
  .l-lines{
    margin-bottom: 0;
    margin-top: 5px;
    li{
      a{
        i{
          font-size: 30px;
          color: #7a7a7a;
        }
      }
    }
  }
}
.footer-last{
  background-color: $primarycolor;
  padding: 10px;
  p{
    margin-bottom: 0;
    color: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
  }
}
.offer-detail-color{
  background-color: #f9f9f9;
}
.offer-detail-heading{
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 0.1px;
  text-align: center;
  color: #000000;

}
.offer-detail-color{
  padding-top: 40px;
  padding-bottom: 40px;
}
.offer-tick-section{
  background-color: #fff;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 50px;
  border: solid 1px #ececec;
}
.tick-section{
  padding-bottom: 15px;
  .tick-section-left{
    a{
      display: block;
    }
  }
  .tick-body{
    vertical-align: middle;
    .tick-heading{

    }
  }
}
.offer-benifite{
  width: 50%;
  display: block;
  margin: 0 auto;
}
.panel-heading{
  position: relative;
}
.panel-group.accordion .panel-heading{
  position: relative;
}
.p-heads [data-toggle="collapse"]:after {
  content: "\f106";
  font: normal normal normal 14px/1 FontAwesome;
  float: right;
  font-size: 18px;
  color: #000;
}
.p-heads [data-toggle="collapse"].collapsed:after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  float: right;
  font-size: 18px;
  color: #000;

}
.panel-customs{
  .panel-heading{
    padding: 15px 15px;
    .panel-title{
      a{
        color: $primarycolor;

      }
    }
  }
}
.bt-apply{
  margin-top: 35px;
  .btn-customs{
    border-radius: 50px;
    border: solid 2px #ed1d24;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: #ed1d24;
    padding: 5px 25px;
    &:hover,&:focus,&:active{
      background: #ed1d24;
      color: #fff;
    }
  }
}
.also-like-section{
  padding-top: 40px;
  padding-bottom: 40px;
  .also-like-head{
    font-size: 24px;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
    margin: 0;
  }
}
.slider-secion{
  .home-slider{
    .slider-image{
      width: 100%;
      height:550px;
      background-size: cover;
      background-position: center center;
      .d-table{
        display: table;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        .d-cell{
          display: table-cell;
          height: 100%;
          vertical-align: middle;
          .slider-left-section{
            width: 50%;
            position: relative;
            z-index: 99999;
            h1{
              margin: 0;
              padding: 0;
              color: #fff;
              font-size: 48px;
              font-weight: bold;
              line-height: 1.08;
              text-align: left;
            }
            p{
              font-size: 28px;
              text-align: left;
              color: #ffffff;
              margin: 0;
            }
            .btn-home{
              border-radius: 50px;
              background-color: #ed1d24;
              font-size: 18px;
              font-weight: 600;
              letter-spacing: 0px;
              text-align: center;
              color: #ffffff;
              border:none;
              padding: 8px 25px;
              margin-top: 10px;
              transition: all .3s ease-in;
              border: 2px solid transparent!important;
              &:hover,&:focus,&:active{
                background: #fff;
                color: #ed1d24;
                border: 2px solid #ed1d24!important;
                transition: all .3s ease-in;
              }
            }
          }
        }
      }
    }
  }
}
.slider-secion{
  position: relative;
}
.form-slider-section{
  width: 360px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.91);
  position: absolute;
  z-index: 9999;
  //  height: 300px;
  right: 20%;
  top:20%;
  padding: 30px;
  h4{
    font-size: 12px;
    text-align: center;
    color: #4a4a4a;
    margin: 0;
  }
  h2{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    color: #ed1b24;
    margin: 0;
    padding: 10px;
    text-transform: uppercase;
  }
}
.slider-form-section{
  .f-group{
    margin-top: 8px;
    .f-control{
      font-size: 14px;
      text-align: left;
      color: #4b4b4b;
      border: solid 1px #999999;
    }
  }
}
.btn-form{
  border:none;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  background-color: #ed1b24;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  padding: 6px 25px;
  transition: all .3s ease-in;
  border: 2px solid transparent!important;
  i{
    padding-right: 10px;
  }
  &:hover,&:focus,&:active{
    background: #fff;
    color: #ed1d24;
    border: 2px solid #ed1d24!important;
  }
}
.home-slider{
  .owl-dots{
    position: absolute;
    top: 40%;
    bottom: 0;
    .owl-dot{
      display: block;
      margin-bottom: 15px;
    }
  }

}
.home-slider .owl-dots .owl-dot span {
  width: 12px;
  height: 12px;
}
.home-slider .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
  padding-left: 40px;
}
.owl-dot{
  position: relative;
}
.home-slider.owl-dot:after{
  content: "";
  width: 2px;
  height: 13px;
  background: #d6d6d6;
  position: absolute;
  /* top: 0; */
  bottom: -15px;
  left: 12px;
}
.home-slider.owl-dot:last-child:after{
  content: "";
  display: none;
}

.home-slider .owl-dots .owl-dot span {
  margin: 5px 7px;
  background: transparent;
  display: block;
  border: 2px solid #eee;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}
.section-just-for{
  padding-top: 60px;
  padding-bottom: 60px;

  .just-for-description{
    padding-top: 30px;
    .just-for-des{
      img{
        display: block;
        margin: 0 auto;
            border-radius: 50%;
    box-shadow: 3px 3px 7px #0000008a;
    width: 130px;
    height: 130px;
      }
      .justheads{
        margin: 0;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        color: #000000;
        padding: 15px 0;
      }
      .justpara{
        font-size: 14px;
        text-align: center;
        color: #333333;
        margin: 0;
      }
      .btn-customs{
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0px;
        text-align: center;
        color: #ed1d24;
        display: block;
        margin: 0 auto;
        border: none;
        margin-top: 24px;

    transition: all .3s ease-in;
        transform: scale(1);
        &:hover,&:focus,&:active{

    transition: all .3s ease-in;
          transform: scale(1.2);
        }
      }
    }
  }
}
.just-for-des-heads{
  margin: 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #9b9b9b;
  padding-bottom: 5px;
}
.just-for-des-para{
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: #2d2d2d;
  margin: 0;
  padding: 10px 0;
}
.wh-choose-section{
  background-color: #f8f8f8;
  padding-top:50px;
  padding-bottom: 50px;
}
.just-for-head-second{
  padding-bottom: 30px;
}
.vedio-home-section{
  display: block;
  text-decoration: none;
  img{
    width: 100%;
  }
}
.insight-section{
  margin-top: 20px;
  .insight-section-main{
    margin-bottom: 10px;
    .insight-section-body{
      .insight-section-head{
        font-size: 18px;
        color: #000000;
      }
      .insight-section-paragraph{
        margin: 0;
        font-size: 14px;
        color: #4a4a4a;
        line-height: 14px;
      }
    }
  }
}
.bt-service{
  margin-top: 40px;
  .btn-service{
    border-radius: 50px;
    background-color: #ed1d24;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    width: 225px;
    transition: all .3s ease-in;
    border: 2px solid transparent!important;
    &:hover,&:active,&:focus{
      background: #fff;
      color: #ed1d24;
      border: 2px solid #ed1d24!important;
      transition: all .3s ease-in;
    }
  }
  .btn-view{
    background-color: transparent;
    color: $primarycolor;
    border-radius: 50px;
    border: solid 2px #ed1d24;
  }

}
.bt-reports{
  margin-top: 30px;
}
.explore-section{
  padding-top: 50px;
  padding-bottom: 50px;
}
.explore-section-main{
  padding-top: 10px;
  .exploren-media-body{
    .exploren-media-he{
      font-size: 18px;
      font-weight: 600;
      line-height: 1;
      text-align: justify;
      color: #4a4a4a;
    }
    .report-down-load{
      width: 100%;
      .report-section-left{
        display: block;
        float: left;
        margin-bottom: 0;
        li{
          position: relative;
          a{
            font-size: 12px;
            line-height: 1.5;
            text-align: left;
            color: #4a4a4a;
            text-decoration: none;
          }
        }
      }
    }
  }
}
.explore-section-main .exploren-media-body .report-down-load .report-section-left .active a{
  color: $primarycolor;
}
.explore-section-main .exploren-media-body .report-down-load .report-section-left li:after{
  content: "";
  position: absolute;
  top: 5px;
  width: 1px;
  height: 10px;
  background-color: #4a4a4a;
  right: -6px;
}
.explore-section-main .exploren-media-body .report-down-load .report-section-left li:last-child:after{
  display: none;
}
a{
  text-decoration: none!important;
}
.report-section-right{
  display: block;
  float: right;
  color:$primarycolor;
  font-size: 12px;
  color: #ed1b24;
  text-decoration: none;

  i{
    padding-right: 5px;
  }
}
.explore-section-media{
  border:1px solid #eeeeee;
  padding: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.07);
  margin-bottom: 30px;
}
.knowledge-section{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f8f8f8;
}
.bghome-cover{
  background-image: url("../images/home-sec.jpg");
  background-size:100% 100%;
  width: 100%;
  height: 533px;
  .bghome-table{
    display: table;
    width: 100%;
    height: 100%;
    .bghome-cell{
      display: table-cell;
      height: 100%;
      vertical-align: middle;
      .bghome-left{
        height: 300px;
        display: table-cell;
        vertical-align: middle;
        .bghome-first{
          font-size: 18px;
          font-weight: bold;
          text-align: left;
          color: #f4f4f4;
          text-transform: uppercase;
          margin: 0;
          padding: 5px 0;
        }
        .bghome-second{
          font-size: 52px;
          font-weight: 300;
          text-align: left;
          color: #ffffff;
          margin: 0;
          padding: 5px 0;
        }
        .bghome-third{
          font-size: 18px;
          text-align: left;
          color: #ffffff;
          a{
            color: #fff;
            display: block;
          }
        }
      }
      .bghome-right{
        width: 400px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.91);
        z-index: 1;
        display: block;
        float: right;
        /* right: 20%; */
        /* top: 20%; */
        padding: 40px;
        .f-group{
          margin-bottom: 20px;
        }
      }
    }
  }
}
.no-border-section{
  border-top:1px solid transparent;
  margin-top: 20px;
}
.improve-section{
  padding-top: 50px;
  padding-bottom: 50px;
  .improve-heads{
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    color: #000000;
    margin: 0;
    width: 95%;
    display: block;
    line-height: 1.2;
    margin: 0 auto;
    margin-bottom: 30px;
  }

}
.improve-all-section{
  margin-top: 10px;
  .improve-all-head{
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0px;
    color: $primarycolor;;
  }
  .improve-all-describtion{
    margin: 0;
    font-size: 18px;
    line-height: 1.78;
    text-align: justify;
    color: #000000;
    padding-top: 25px;
  }
}
.achive-section{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f9f9f9;

}
.achive-head{
  margin: 0;
  font-size: 45px;
  font-weight: 300;
  text-align: center;
  color: #000000;
}
.management-team{
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
}
.board-heading{
  margin: 0;
  font-size: 24px;
  letter-spacing: 0px;
  color: #ed1d24;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
.board-director{
  margin-top: 10px;
  .board-director-full{
    display: block;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px 0;
    // box-shadow: 0 10px 27px 0 rgba(36, 37, 38, 0.23);
    border: solid 1px #f2efef;
    margin-bottom: 20px;
    transition: all .5s ease-in-out;
    img{
      width: 120px;
      display: block;
      margin: 0 auto;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
      border: solid 6px #ececec;
      border-radius: 50%;
      margin-bottom: 30px;
    }
    .board-director-heads{
      margin: 0;
      font-size: 16px;
      font-weight: bold;
      text-align: center;
      color: #242526;
    }
    .board-director-para{
      font-size: 14px;
      text-align: center;
      color: #ed1d24;
      margin: 0;
      padding: 10px 0;
      overflow:hidden;
      text-overflow:ellipsis;
      white-space: nowrap;
    }
    .board-director-degination{
      margin: 0;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      color: #4a4a4a;
    }
  }
}
.board-director a{
  display: block;
}
// .board-director a .board-director-full:hover{
//   box-shadow: 0 10px 27px 0 rgba(36, 37, 38, 0.23);
//   transition: all .5s ease-in-out;
// }
.full-red-section{
  padding-top:50px;
  padding-bottom: 50px;
  background-color: #ed1d24;
  text-align: center;
  color: #fff;
  h3{
    margin: 0;
    font-size: 48px;
    letter-spacing: 3.3px;
    text-align: center;
    color: #ffffff;
  }
  p{
    margin: 0;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    color: #ffffff;
  }
}
.client-section-bg{
  background-image: url("../images/background.jpg");
  width: 100%;
  height: 500px;
  background-size: cover;
}
.client-section-full{
  width: 50%;
  display: block;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  .client-section-heads{
    margin: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.09;
    color: #ffffff;
  }
  .client-section-para{
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.client-section-media{
  display: block;
  width: 40%;
  margin: 0 auto;
  .client-object{
    width: 70px!important;
  }
}

.client-section .owl-nav [class*='owl-']{
  background: transparent;
}
.client-section .owl-nav [class*='owl-']:hover {
  background: transparent;
  color: #FFF;
  text-decoration: none;
}
// .client-section .owl-nav{
//     position: absolute;
//     top:40%;
// }
.client-section .owl-nav div {
  position: absolute;
  top: 40%;
}
.client-section .owl-nav .owl-prev{
  left: 0;
}
.client-section .owl-nav .owl-next{
  right: 0;
}
.bg-col-leader{
  background-color: #f8f8f8;
  // border: solid 1px #ececec;
  padding-top: 40px;
  // padding-bottom: 30px;
  .pro-leadership{
    width: 65%;
    display: block;
    margin: 0 auto;
    padding: 20px 15px;
    padding-bottom: 0;
    padding-top: 0;
    .pro-leadership-top{
      font-size: 45px;
      font-weight: 300;
      margin: 0;
      text-align: center;
      color: #000000;
      margin-top:20px;
    }
    .pro-leadership-paragraph{
      font-size: 18px;
      text-align: center;
      color: #000000;
      margin-bottom: 0;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  .bt-center-leader ul li:last-child{
    margin-left: 6px;
  }
  .bt-center-leader{
    padding-top: 20px;
    padding-bottom: 40px;
    ul{
      margin-bottom: 0;
      li{
        .btn-leader{
          border-radius: 50px;
          // background-color: #ed1d24;
          font-size: 18px;
          font-weight: 600;
          letter-spacing: 0px;
          text-align: center;
          // color: #ffffff;
          padding: 7px 27px;
          border: solid 1px #ececec;
          color: #7a7a7a;
        }
      }
    }
  }
}
.bg-col-leader .bt-center-leader ul .active .btn-leader{
  background-color: #ed1d24;
  color: #fff!important;
  // color: #fff;
}
.angle-customize{
  float: right;
  font-size: 31px;
  color: #dcdcdc;
  position: absolute;
  right: 29px;
  top: 36%;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 6px;
}
.panel-director{
  border: solid 1px #f2efef;
  margin-bottom:30px!important;
  .panel-board-head{
    padding: 15px 15px;

  }
}
.media-board-body{
  h4{
    font-size: 24px;
    margin: 0;
    text-align: left;
    color: #242526;
    padding: 5px 0;
    padding-top: 0;
  }
  p{
    margin: 0;
    font-size: 14px;
    text-align: left;
    color: #ed1d24;
  }
  h5{
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    color: #4a4a4a;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.m-right{
  i{
    color: #dcdcdc;
    border: 1px solid #dcdcdc;
    font-size: 30px;
    padding: 5px 8px;
    border-radius: 5px;
  }
}
.board-section-middle{
  .left-board-head{
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    color: #4a4a4a;
    margin: 0;
    margin-bottom: 10px;
  }
  .right-board-head{
    font-size: 12px;
    color: #4a4a4a!important;
    margin: 0;
    // padding: 5px;
    line-height: 17px;
    margin-bottom: 10px;
  }
}
.download-director{
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
  .btn-download{
    text-align: center;
    border-radius: 50px;
    border: solid 2px #ed1d24;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: #ed1d24;
    background-color: #fff;
    padding: 6px 23px;
    transition:all .3s ease-in;
    &:hover,&:active,&focus{
      background-color: $primarycolor;
      transition:all .3s ease-in;
      color: #fff;
    }
  }

}
.btn-lead{
  min-width: 100px;
}
.download-images{
  position: relative;
  img{
    width: 100%;
  }
  .download-heading{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }
}
.download-bottom{
  display: block;
  margin-bottom: 45px;
  h3{
    margin: 0;
    background-color: $primarycolor;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0px;
    text-align: center;
    color: #ffffff;
    padding: 8px;
    i{
      padding-right: 10px;
    }
  }
}
.togle-btn{
  //    margin-top: 20px;
  margin-bottom: 50px;
  ul{
    margin-bottom: 0;
    margin-left: 0;
    li{
      padding: 0;
      .btn-report{
        // border-radius: 5px;
        background-color: #ffffff;
        // border: solid 1px #ececec;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        color: #7a7a7a;
        min-width: 110px;
        border:none;
        border-radius: 0;
        // margin-left: -6px;
        border: solid 1px #ececec;
        // border-radius: 5px;
        border-right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding: 10px;
      }
      .btn-team{
        border-radius: 5px;
        background-color: #ffffff;
        // border: solid 1px #ececec;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        color: #7a7a7a;
        min-width: 110px;
        border:none;
        border-radius: 0;
        margin-left: -3px;
        border: solid 1px #ececec;
        border-left: none;
        padding: 10px;
      }
    }
  }
}
.togle-btn ul .active a{
  background-color: #ed1d24;
  color: #fff;
}
.explore-section-hds{
  margin-bottom: 30px;
}
.padding-bottom-no{
  padding-bottom: 0;
}

.panel-board-head [data-toggle="collapse"]:after {
  content: "\f106";
  font: normal normal normal 14px/1 FontAwesome;
  float: right;
  font-size: 31px;
  color: #dcdcdc;
  position: absolute;
  right: 29px;
  top: 36%;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 6px;
}
.panel-board-head [data-toggle="collapse"].collapsed:after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  float: right;
  font-size: 31px;
  color: #dcdcdc;
  position: absolute;
  right: 29px;
  top: 36%;
  border-radius: 6px;
  border: 1px solid #eee;
  padding: 6px;

}
.img-thumb{
  border-radius: 8px;
  border:1px solid #eee;
}
.serach-heading{
  h3{
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    color: #4a4a4a;
    .color-red{
      font-weight: 600;
      color: #ed1d24;
    }
  }
}
.search-media{
  margin-top: 30px;
}
.search-media-section{
  background: #fff;
  padding: 20px;
  border: solid 1px #eeeeee;
  margin-bottom: 5px;
  margin-top: 5px;
}
.search-media-body{
  padding-left: 10px;
  .search-media-list{
    margin-bottom: 0;
    li{
      a{
        font-size: 18px;
        line-height: 1;
        text-align: justify;
        color: #ed1d24;
        font-weight: bold;
      }
    }
  }
}
.search-media-paragraph{
  margin-bottom: 0;
  font-size: 13px;
  text-align: left;
  color: #131212;
  padding-top: 2px;
}
.search-media-list li:after{
  content:"|";
  color: $primarycolor;
  padding-left: 9px;
  font-weight: bold;
}
.search-media-list li:last-child:after{
  display: none;
}
.big-padding{
  padding-bottom: 50px;
}
.contact-full-section{
  padding-top: 40px;
  padding-bottom: 40px;
  .contact-left-section{
    h2{
      margin: 0;
      font-size: 45px;
      font-weight: 300;
      letter-spacing: 0.1px;
      text-align: left;
      color: #000000;
    }
    h5{
      margin: 0;
      font-family: OpenSans;
      font-size: 16px;
      text-align: left;
      color: #4a4a4a;
      padding-top: 20px;
      padding-bottom: 15px;
    }
    p{
      font-size: 19px;
    line-height: 1.44;
    text-align: left;
    color: #4a4a4a;
    margin-bottom: 0;
    font-weight: bold;
    }
    h3{
      font-size: 16px;
      font-weight: 600;
      text-align: left;
      color: #ed1d24;
      margin: 0;
      padding-top: 30px;
      padding-bottom: 20px;
    }
  }
}
.color-red{
  color: $primarycolor;
  font-weight: bold;
}
.l-style{
  margin-bottom: 0;
  li{
    a{
      font-size: 16px;
      line-height: 1.69;
      text-align: left;
      color: #4a4a4a;
      i{
        padding-right: 10px;
        color: $primarycolor;
      }
    }
  }
}
.contact-section{
  padding-bottom: 60px;
  padding-top: 20px;
}
.contact-section-right{
  position: relative;
  border-radius: 8px;
  background-color: #f0f0f0;
  right: auto;
  left: auto;
  text-align: center;
  margin: 0 auto;
  display: block!important;
}
.wrap-sec-invest{
  width: 60%;
  display: block;
  margin: 0 auto;
  text-align: center;
  .invest-section-heading{
    font-size: 45px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-align: center;
    color: #000000;
    margin: 0;
    padding-bottom: 30px;
  }
  .invest-section-description{
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.78;
    letter-spacing: 0px;
    text-align: justify;
    color: #505050;
    padding-bottom: 40px;
  }
}
.wrap-second-invest{
  // background-color: #fff;
  // padding: 30px;
}
.embed-responsive-16by9 {
  box-shadow: 1px 4px 8px #00000054;
}
.modal-title {
  margin: 0;
  line-height: 1.428571429;
  text-align: center;
  text-transform: uppercase;
}
.modal-body {
  padding-top: 0;
}
.bt-service-sub{
  margin-top: 25px;
  padding-bottom: 13px;
}
.btn-normal{

  border-radius: 50px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  padding: 5px 16px;
  border: solid 1px #ececec;
}
.btn-ser{
  background-color: #ed1d24;
  color: #fff !important;
  border-radius: 50px;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  padding: 5px 16px;
  border: solid 1px #ececec;
  // display: block;
  // margin: 0 auto;
}

.invest-second-heading{
     font-size: 45px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-align: center;
    color: #4c4c4c;
    margin: 0;
    /* padding-top: 50px; */
    padding-bottom: 30px;
  padding-top:0px;
}
.modal-header {
  border-bottom: 1px solid transparent;
}
.big-image{
  display: block;
  margin: 0 auto;
  width: 100%;
}
.no-padding{
  padding: 0;
}
.invest-last-head{
  font-size: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #4c4c4c;
  padding-top: 40px;
  padding-bottom: 20px;
}
.banner-form{
  height: 200px;
}
.bio-account-list{
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 0;
  li{
    .btn-bio{
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      color: #515356;
      border-radius: 40px;
      text-transform: uppercase;
      background-color: rgba(203, 203, 203, 0.29);
    }
  }
}
.bio-account-list  .active .btn-bio{
  background-color: $primarycolor;
  color: #fff;
}
.bio-heading{
  margin: 0;
  padding-bottom: 40px;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-align: left;
  color: #4a4a4a;
  text-align: center;
  font-weight: bold;
}
.bio-form-section{
  width: 60%;
  display: block;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: solid 1px #eeeeee;
  padding: 15px 0;

}
.c-label{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: left;
  color: #000000;
}
.fr-horizon{
  padding-top: 20px;
}
.f-control{
  height: 35px;
  background-color: #ffffff;
  border: solid 1px #979797;
  border-radius: 0;
  box-shadow: none;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline{
  margin-left: 0;
}
.bio{
  padding-bottom: 40px;
}
.small-font{
  font-size: 12px;
  line-height: 13px;
}
.c-belel{
  line-height: 13px;
}
// .f-group{
//   padding-left: 30px;
// }
.form-padding{
  padding: 25px;
  padding-top:0;
}
.btn-col-primary{
  background-color:$primarycolor;
  color:#fff;
  padding: 7.5px 12px;
  border: none;
  &:hover,&:focus,&:active{
    background-color: $primarycolor;
    color: #fff;
  }
  .bt-ser{
    border:2px solid $primarycolor!important;
  }
  
}
.wrap-sec-invest .invest-section-heading{
        padding-top: 25px!important;
  }
.fixed-middle{
      position: fixed;
    z-index: 2;
    right:0;
  top:50%;
    .btn-red{
         border: none;
    background: #ed1b24;
    color: #fff;
    padding: 0;
    padding: 10px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 1px 1px 1px black;
    }
}
@media(max-width:1400px){
  .slider-left-section{
    width:50%;
  }
  
  .form-slider-section {
    right: 8%;
}
.insight-section {
  margin-top: 10px;
}
.just-for-heading{
  padding-bottom: 15px;
}


}
@media(max-width:1350px){
  .home-slider .owl-dots .owl-dot{
    display: inline-block;
  }
  .home-slider .owl-dots {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  .form-slider-section {
    right: 5%;
  }
  .home-slider .owl-nav.disabled + .owl-dots {
    padding-left: 0px;
  }
}
@media(max-width:1200px){
  .insight-section{
    margin-top: 0;
  }
  .bg-col-leader .pro-leadership{
    width: 100%;
  }
  .just-for-des-para {
    padding: 10px 20px;
  }
  .bghome-right{
    display: block!important;
  }
  .bghome-cover {
    height: auto;
  }
  footer .footer-left .footer-logo img{
    width: auto;
  }
  footer .footer-left .footer-paragarph p{
    padding-top: 0;
  }
}
@media(max-width:991px){
  .improve-section .improve-heads {
    font-size: 37px;
    width: 90%;
  }
  .res-section-space{
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
    padding-top: 40px;
  }
  .achive-head{
    font-size: 37px;
  }
  .client-section-full .client-section-para {
    font-size: 19px;
  }
  .chose-section .ch-heading{
    font-size: 37px;
  }
  .form-slider-section {
    display: none;
  }
  .board-section-middle .left-board-head{
    text-align: left;
  }
  .bg-col-leader .pro-leadership {
    width: 85%;
  }
  .wrap-sec-invest {
    width: 100%;
  }
  .f-group {
    padding-left: 0;
  }
  .contact-section-right{
    right: auto;
    width: 100%;
    margin-top: 35px;
  }
  .insight-section {
    margin-top: 43px;
  }
  footer .footer-left .footer-logo img {
    width: 100%;
    padding: 40px;
    padding-top: 0;
  }

  .slider-left-section{
    width: 100%;
    display: block;
    margin: 0 auto;
  }
  .just-for-des{
    margin-bottom: 30px;
  }
  .bghome-cover .bghome-table .bghome-cell .bghome-left {
    height: auto;
    display: block;
    vertical-align: middle;
    margin: 0 auto;
  }
  .bghome-cover .bghome-table .bghome-cell{
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .bghome-cover .bghome-table .bghome-cell .bghome-right{
    display: block;

    margin: 0 auto;
    position: relative;
    right: auto;
    margin-top: 52px;
  }
  .bghome-cover .bghome-table .bghome-cell .bghome-right {

    width: 80%;
  }
  .bghome-cover .bghome-table .bghome-cell .bghome-left .bghome-first{
    text-align: center;
  }
  .bghome-cover .bghome-table .bghome-cell .bghome-left .bghome-second{
    text-align: center;
  }
  .bghome-cover .bghome-table .bghome-cell .bghome-left .bghome-third{
    text-align: center;
  }
  .bghome-cover .bghome-table .bghome-cell .bghome-right .f-group{
    padding-left: 0;
  }

}
@media(max-width:768px){
  .fixed-middle .btn-red {
    border: none;
    background: #ed1b24;
    color: #fff;
    padding: 0;
    padding: 6px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 1px 1px 1px black;
}
  .header-brand img {
    width: 80px;
}
.p-no-space{
  margin:0;
}
.achive-head {
  font-size: 28px;
  padding-top: 30px;
}
.management-team {
  background-color: #f9f9f9;
  padding-top: 0;
  padding-bottom: 50px;
}
.improve-section {
  padding-bottom: 0;
}
.slider-secion .home-slider .slider-image .d-table .d-cell .slider-left-section {
  width: 70%;
}
.sidenav a {
    font-size: 18px;
  }
 .bt-phone-btn{
    background-color: #fff!important;
    color: #000;
 }
.headerWrapper-bottom{
  display: none;
}
.header-brand {
     margin-top: 0px;
}
.navbar-toggle {
  border-radius: 0px;
  margin-top: 16px;
  border: 1px solid black;
}
// .headerWrapper{
//   padding-bottom: 10px;
// }
.header-brand {
padding: 15px 15px;
}
  .banner-who {
    height: 270px;
    width: 100%;
  }
  .togle-btn ul li .nav-link{
    border:none;
  }
  .togle-btn ul li:last-child {
    margin-left: 0px;
}
  .tg-bt{
    margin-bottom: 0;
  }
  .product-sec {
    margin-top: 0;
  }
  .chose-section .ch-heading{
    padding-top: 25px;
  }
  .offer-detail-heading {
    font-size: 32px;
  }
  .offer-benifite {
    width: 85%;
  }
  .bg-col-leader .bt-center-leader {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .bg-col-leader .bt-center-leader ul li .btn-leader {
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0px;
    text-align: center;
    padding: 10px 20px!important;
    margin-bottom: 14px;
    color: #7a7a7a;
}
  .nav-tabs > li, .nav-pills > li {
    float: none;
    display: block;
    zoom: 1;
    // margin-bottom: 22px;
  }
  .bg-col-leader .pro-leadership .pro-leadership-top {
    font-size: 34px;
  }
  .chose-section {
    width: 80%;
    padding-bottom: 15px;
    // padding-top: 15px;
  }
  
  .card-next{
    position: relative;
   
    
  }
  .card-next:after{
        content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    background-color: #0e0707;
    height: 2px;
    display: block;
    margin: 0 auto;
  }
   blockquote{
          padding: 0;
    margin: 0;
    font-size: 17.5px;
    border-left: 5px solid transparent;
    }
  .client-section-full {
    width: 75%;
  }
  .client-section-full .client-section-heads {
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    line-height: 0;
    color: #ffffff;
  }
  .owl-prev{
    img{
      width: 30px;
    }
  }
  .owl-next{
    img{
      width: 30px;
    }
  }
  .client-section-bg {
    height: 357px;
    background-size: cover;
  }
  .client-section-full .client-section-para {
    font-size: 16px;
    /* line-height: 1; */
  }
  .bg-col-leader .pro-leadership {
    width: 90%;
  }
  .wrap-sec-invest .invest-section-description {
    text-align: justify;
  }
  .wrap-second-invest {
    background-color: #fff;
    padding: 15px;
  }
  .wrap-sec-invest {
    padding: 10px;
  }
  .wrap-sec-invest .invest-section-heading {
    font-size: 33px;
    padding-bottom: 19px;
  }
  .invest-second-heading {
    font-size: 33px;
  }
  .banner-who .d-table .d-cell h3 {
    font-size: 30px;
  }
  .contact-section {
    padding-bottom: 30px;
    padding-top: 0px;
  }
  .contact-full-section .contact-left-section h2 {
    margin: 0;
    font-size: 35px;
  }
  footer .footer-left .footer-logo img {
    width: 70%;
    padding: 0px;
    padding-top: 0;
  }
  footer .footer-left .footer-paragarph p {
    font-size: 12px;
  }
  .slider-secion .home-slider .slider-image .d-table .d-cell .slider-left-section h1 {
    font-size: 30px;
  }
  .slider-secion .home-slider .slider-image .d-table .d-cell .slider-left-section p {
    font-size: 20px;
  }
  .slider-secion .home-slider .slider-image .d-table .d-cell .slider-left-section .btn-home {
    font-size: 13px;
    font-weight: 600;
    padding: 8px 14px;
    margin-top: 10px;
  }
  .section-just-for {
    padding-bottom: 10px;
    padding-top: 40px;
  }
  .just-for-des-para {
    font-size: 30px;
    padding: 10px 20px;
  }
  .just-for-des {
    margin-bottom: 10px;
}
.bghome-cover .bghome-table .bghome-cell .bghome-right {
  width: 100%;
}
  .explore-section-main .exploren-media-body .exploren-media-he {
    font-size: 14px;
  }
  .bghome-cover .bghome-table .bghome-cell .bghome-left .bghome-second{
    font-size: 40px;
  }
  .exploren-media-head{
    vertical-align: middle;
  }
  .btn-form {
    font-size: 14px;
    padding: 5px 10px;
  }
  .footer-right h3 {
    margin-top: 16px;
  }
  .slider-secion .home-slider .slider-image {
    height: 400px;
  }
  footer {
    padding: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .serach-heading h3 {
    font-size: 28px;
  }
  .bg-col-leader {
    padding-top: 30px;
  }
  .search-media-section{
    .media-left{
      display: block;
      margin-bottom: 20px;
      a{
        img{
          display: block;
          margin: 0 auto;
        }
      }
    }
    .search-media-body{
      width: 100%;
    }
  }
  .search-media-section {
    background: #fff;
    padding: 5px;
    border: solid 1px #eeeeee;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .search-media-body .search-media-list li a {
    font-size: 16px;
    display: block;
    padding-bottom: 10px;
  }
  .search-media-body .search-media-list li:last-child a{
    text-align: center;
  }
  .search-media-list li:after{
    display: none;
  }

}
@media(max-width:680px){
  .client-section-full .client-section-para {
    padding-top: 23px;
    padding-bottom: 0px;
  }
  .client-section-media-head{
    font-size: 13px;
    text-align: center;
  }
  .client-section-media-des{
    font-size: 10px;
    text-align: center;
  }
  .client-section-full .client-section-heads {
    font-size: 22px;
  }
  .client-section-full .client-section-para {
    font-size: 18px;
  }
  .client-section-bg {
    height: auto;
    background-size: cover;
  }
  .client-section-media{
    width: 100%;
  }
  .client-section-media{
    .media-left{
      display: block;
      img{
        display: block;
        margin: 0 auto;
      }
    }
  }
}
@media(max-width:420px){
  .leader-bottom {
    margin-bottom: 0px !important;
  }
  .bg-col-leader .pro-leadership .pro-leadership-top {
    font-size: 25px;
  }
  .product-sec .product-description {
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0px;
    text-align: center;
    color: #000000;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 500;
    padding: 10px;
  }
  .product-sec .prodouct-heading {
    font-size: 30px;
  }
  .offer-detail-heading {
    font-size: 25px;
  }
  .offer-detail-heading {
    font-size: 26px;
  }
  .also-like-section .also-like-head {
    font-size: 22px;
  }
  .card-section .panel-sets .panel-sets-body a .card-text {
    font-size: 17px;
  }
  .offer-tick-section {
    padding-left: 15px;
    padding-right: 15px;
  }
  .improve-section .improve-heads {
    font-size: 25px;
    width: 95%;
  }
  .bg-col-leader .panel-director .panel-board-head .media-board-body h4 {
    font-size: 16px;
  }
  .panel-director .panel-board-head .media-board-body h5 {
    font-size: 11px;
  }
  .panel-board-head [data-toggle="collapse"].collapsed:after {
    font-size: 18px;
  }
  .panel-board-head [data-toggle="collapse"]:after {
    font-size: 18px;
  }
  .board-director-full{
    .media-object{
      width: 80px;
    }
  }
  .bt-center-leader{
    .nav-tabs{
      li{
        padding-left: 0;
        padding-right: 0;
        a{
          font-size: 13px!important;
        }
      }
    }
  }
  .togle-btn ul li .btn-report {
    font-size: 13px;
    min-width: 100px;
  }
  .togle-btn ul li .btn-team{
    font-size: 13px;
    min-width: 100px;
  }
  .btn-lead {
    min-width: 85px;
  }
  min-width: 85px;
  .invest-last-head {
    font-size: 18px;
  }
  .wrap-sec-invest .invest-section-heading {
    font-size: 25px;
  }

  .download-director .btn-download {
    font-size: 11px;
  }
  .slider-left-section{
    width: 90%;
  }
  .form-slider-section h2 {
    font-size: 18px;
  }
  footer .footer-left .footer-logo img {
    width: 120px;
    display: block;
    margin: 0 auto;
    float: none;
  }
  footer .footer-left .footer-logo{
    width: 100%;
    float: none;
  }
  footer .footer-left .footer-paragarph p {
    font-size: 12px;
    margin-top: 14px;
  }
  footer .footer-left .footer-paragarph {
    width: 100%;
    display: block;
    float: none;
  }
  .no-border-section {
    margin-bottom: 10px;
  }
  .bt-reports {
    margin-top: 15px;

  }
  .bghome-cover .bghome-table .bghome-cell .bghome-left .bghome-second {
    font-size: 35px;
  }

  .slider-secion .home-slider .slider-image .d-table .d-cell .slider-left-section h1 {
    font-size: 27px;
  }
  .just-for-des-para {
    font-size: 25px;
  }
  .insight-section .insight-section-main .insight-section-body .insight-section-head {
    font-size: 16px;
  }
  .explore-section-media {
    padding: 8px;
  }
  .bt-service .btn-service {
    width: auto;
  }
  .explore-section-main .exploren-media-body .report-down-load .report-section-left {
    display: block;
    float: none;
    margin-bottom: 0;
    width: 100%;
    text-align: left;
  }
  .report-section-right {
    display: block;
    float: none;
    color: #ed1d24;
    font-size: 12px;
    color: #ed1b24;
    text-decoration: none;
    text-align: left;
    width: 100%;
    margin-top: 5px;
  }
  .achive-head {
    font-size: 28px;
  }
}
@media(max-width:320px){
  .serach-heading h3 {
    font-size: 23px;
  }
  .slider-secion .home-slider .slider-image .d-table .d-cell .slider-left-section h1 {
    font-size: 22px;
}
.slider-secion .home-slider .slider-image .d-table .d-cell .slider-left-section p {
  font-size: 20px;
}


  .panel-board-head [data-toggle="collapse"]:after {
    right: 10px;
  }
  .panel-board-head [data-toggle="collapse"].collapsed:after {
    right:10px;
  }
  .bg-col-leader .panel-director .panel-board-head .media-board-body h4 {
    font-size: 15px;
  }
  .bg-col-leader .pro-leadership .pro-leadership-top {
    font-size: 22px;
  }
}
.bt-service .btn-view{
  border:2px solid $primarycolor!important;
  &:hover,&:focus,&.active{
    background-color: $primarycolor;
    color: #fff;
  }
}
.panel-sets-body{
  transition: all .5s ease-in-out;
}
.panel-sets-body:hover{
  background-color: $primarycolor;
    color: #fff;
     transition: all .5s ease-in-out;
 box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)!important;
}
.panel-sets-body:hover .card-text p{
  color: #fff;
   transition: all .5s ease-in-out;
}
.panel-sets-body.card-text p{
  transition: all .5s ease-in-out;
}
.modal-home-footer{
     padding: 13px 20px;
    border-top: 0;
    padding-top: 0;
  .btn-home-modal{
    background-color: $primarycolor;
    color: #fff;
  }
}
.m-home-body{
  padding-bottom: 0;
}

  .modal-content{
    border-radius: 0;
  }
// .slider-secion .home-slider .slider-image:before {
//     content: '';
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	background-image: linear-gradient(to bottom right,#121516,#1d1b1b);
// 	opacity: .6;
//   }
//   .banner-who{
//     position: relative;
//   }
//   .banner-who:before {
//     content: '';
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	bottom: 0;
// 	left: 0;
// 	background-image: linear-gradient(to bottom right,#121516,#1d1b1b);
// 	opacity: .6;
//   }
  .banner-who .d-table .d-cell h3{
    position: relative;
  }
  .swal2-confirm{
    background-color: $primarycolor!important;
    border:none!important;
  }
  .btn-sm.active span{
    color: #fff;
  }
.bg-co-white.text{
  padding-left: 15px;
}
.panel-sister{
    a{
     
      display: block;
       color: $primarycolor!important;
    }
  }
  .card-next{
      p{
      color: $primarycolor;
      margin-bottom: 0;
      text-align: center;
      font-weight: bold;
      }
      }
      .card-next p:hover{
        color: #fff;
        font-weight: bold;
      }
      .panel-sets-body:hover .card-next p{
         color: #fff;
         font-weight: bold;
      }
      .panel-sets-body:hover .card-next:before{
        opacity: 0;
      }
      .card-next:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 50px;
    background-color: #eee;
    height: 2px;
    display: block;
    margin: 0 auto;
}
.home-modal-s{
  margin: 0;
  text-align: center;
}
.m-home-body-s{
  padding-bottom: 15px!important;
}