$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "sweetalert2/src/sweetalert2.scss";
// endbower

@import "fonts";
@import "shiam";
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.debugger{
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 420px;
}
a:focus {
  outline: none;
  outline-offset: -2px;
}
.aritic-space{
  padding-bottom: 40px;
}
.rows-width{
  width: 90%;
  display: block;
  margin: 0 auto;
}
.header-right .active{
  background-color: #eeeeee;

}
.panel-width-auto{
  display: block;
  margin: 0 auto;
  width: 90%;
  .panel-heading{
    background: #ed1d24;
  }
  .panel-title{
    a{
      color: #fff!important;
      font-size: 26px;
      display: block;
    }
  }
}
.tab-heads{
  background-color: #f9f9f9;
  padding-top: 40px;
  .nav-tabs{

      li{
        a{
          font-size: 15px;
          font-weight: 600;
          text-align: center;
          color: #7a7a7a;
          min-width: 110px;
          padding: 10px;
          border-radius: 0!important;
          background-color: #fff;
          margin-right: 0;
          border:none;
        }
        &:active,&:focus,&:hover{
          background-color: red;
          color: #fff;
        }

      }

  }
  .offer-detail-color{
    padding-top: 10px;
  }
}
.know-single{
  width:50%;
  display: block;
  margin: 0 auto;
  .know-single-heading{
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
    padding-bottom: 15px;
  }
  .know-single-description{
    margin: 0;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
  }
  .konwledge-catagory{
   margin-top: 10px;
   .list-inline{
     margin-bottom: 0;
     li{
      border-radius: 100px;
      background-color: #f73030;
      font-size: 11px;
      text-align: center;
      color: #ffffff;
      padding: 2px 15px;
      margin-left: 2px;
     }
   }
  }
}
.know-single .konwledge-catagory .list-inline li:first-child{
  padding: 0;
  background-color: #fff;
  color: #000;
  font-weight: bold;
}
.panel-faq{
  border: solid 1px #e6e6e6;
  .panel-faq-head{
    padding: 27px 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.12);
    background: #ef242c;
    color: #fff;
    .panel-faq-title{
      font-size: 22px;
      a{
        color: #fff;
      }
    }
  }
}
.p-heads [data-toggle="collapse"]:after{
  color: #fff!important;
}
.swal2-container{
  z-index: 20000 !important;
}
.no-tab-space{
  padding-top: 0;
}
.t-l-ft{
  color: #ff0505;
  display: block;
  margin-top: 10px;
  &:hover{
    color: #ff0505;
  }
}
.rows-top-list{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
  margin-bottom: 25px;
  .knowledge-top{
    padding: 25px;
      .knowledge-heading{
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33;
        letter-spacing: 0px;
        margin: 0;
        text-align: left;
        color: #000000;
        padding: 5px 0;
      }
    .knowledge-description{
      font-size: 16px;
      line-height: 25.1px;
      text-align: justify;
      text-align: left;
      color: #000000;
      margin: 0;
    }
    ul{
      padding-bottom: 10px;
      padding-top: 4px;
      li{
        &:last-child{
          margin-left: 16px;
        }
        &:first-child{
          border-radius: 100px;
          background-color: #f73030;
          padding: 5px 10px;
          text-align: center;
          color: #ffffff;
        }
      }
    }
  }
}
.rows-top-space{
  padding-top: 30px;
  padding-bottom: 25px;
  .knowledge-heading{
    margin:0;
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 0.1px;
    text-align: left;
    color: #000000;
  }
  .knowledge-description{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0px;
    text-align: left;
    color: #000000;
    margin-top: 40px;
  }
  a{
    color: #ff0505;
  }
}
.slider-form-section{
  position: relative;
  &.active{
    &:after{
      transition: .25s;
      content: ' ';
      background: rgba(0, 0, 0, 0.46);
      position: absolute;
      top: -15px;
      bottom: -15px;
      left: -15px;
      right: -15px;
      z-index: 9;
    }
    &:before{
      transition: .25s;
      content: "\f110";
      position: absolute;
      font-family: FontAwesome;
      z-index: 20;
      color: #fff;
      font-size: 40px;
      top: 50%;
      left: 0;
      margin-top: -26px;
      right: 0;
      text-align: center;
    }
  }
}
.navbar .navbar-toggle span{
  background: #4e4e4e;
}
.card-section .panel-sets .panel-sets-body a .card-text{
  padding: 35px 15px;
  padding-bottom: 15px;
}
.card-section .panel-sets .panel-sets-body a .card-text p{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.headerWrapper-bottom{
   background: #fff;
  border-radius: 0;
  border:none;
  margin-bottom: 0;
  position: relative;

}
 .border-middle{
  border-top:2px solid #dcdcdc;
      // margin-top: 20px;
 }
.no-padding{
  padding: 0;
}
.header-right{
    li{
        a{
            font-size: 14px;
            color: #2d2d2d;
            font-weight: bold;
        }
      }
  }
  .n-right{
    width: 20%;
    margin-right: 10px;
    .input-group{
      margin-top: 12px;
    }
  }
  .f-ct{
    border:none;
    border-bottom: 1px solid #eee;
        height: 28px;
        font-size: 12px;
        box-shadow: none;
        font-weight: bold;
  }
  .btn-customs{
        padding: 3px 10px;
        background-color: transparent;
        border-bottom: 1px solid #eee;
  }
.for-bg{
  position: relative;
  height: 100%;
  width: 100%;
}
.for-bg:after{
  height: 15px;
  background: #FFF;
  content: '';
  width: 100%;
  // position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  border-left: 1px solid #FFF;
  border-right: 1px solid #FFF;
  margin-bottom: 20px;
}
.small-text{
  font-size: 10px;
}
.no-padding-left{
  padding-left: 0;
}
.no-padding-right{
  padding-right: 0;
}
.small-text-label{
  font-size: 13px !important;
}
@media (max-width: 991px){
  .phone-padding-left {
    padding-left: 15px !important;
  }
  .know-single {
    width: 100%;
}
}

@media (max-width: 768px){
  .rows-top-space .knowledge-heading {
    font-size: 27px;
    padding-top: 10px;
}
.benifited-class .benifited-heading {
  font-size: 23px;
}
.bg-col-leader .bt-center-leader ul li .btn-leader {
  border-radius: 50px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0px;
  text-align: center;
  // color: #ffffff;
  padding: 7px 9px;
}
.rows-top-list .knowledge-top {
  padding: 25px;
  padding-left: 0;
  padding-right: 0;
}
.rows-top-space {
    padding-top: 30px;
    padding-bottom: 0;
}
.rows-top-space .knowledge-description {
  margin-top: 6px;
}
  .phone-padding {
    padding-left: 0;
    padding-right: 0;
  }
  .no-padding-left{
    padding-left: 0px;
  }
  .no-padding-right{
    padding-left: 0px;
  }
  .phone-padding-zero{
    padding-left: 0;
    padding-right: 0;
  }
}
//Coverage Map
.store-locator-container{
  .leaflet-control-layers.leaflet-control {
    visibility: hidden !important;
  }
  .page-heading{
    text-align: center;
    padding: 50px 0;
    @media(max-width: 992px){
      padding: 25px 0;
    }
    h3{
      font-size: 44px;
      font-weight: 100;
      margin: 0;
      @media(max-width: 992px){
        font-size: 28px;
      }
    }
  }
  .nav-toggle{
    background: #7a7a7a;
    color: #fff;
    border: none;
    font-size: 24px;
    padding: 5px 10px;
    width: 45px;
    height: 45px;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 12;
  }
  .custom-map-header{
    padding: 15px;
    background: #7a7a7a;
    .btn-dropdown{
      background: #fff;
      color: #ed1d24;
      font-size: 18px;
      font-weight: 700;
      text-align: left;
      @media(max-width: 992px){
        font-size: 16px;
        &:first-child{
          margin-bottom: 15px;
        }
      }
    }
    .dropdown-menu{
      right: 0;
      z-index: 999999;
      li{
        a{
          font-weight: 700;
          font-size: 16px;

        }
      }
    }
    .form-control{
      font-size: 18px;
      height: 39px;
      box-shadow: none;
      @media(max-width: 992px){
        font-size: 16px;
      }
    }
    .form-group{
      margin-bottom: 0;
      @media(max-width: 992px){
        margin-bottom: 15px;
      }
    }
  }
  .custom-map-body{
    position: relative;
    overflow: hidden;
    .custom-map-sidebar{
      //width: 300px;
      //position: absolute;
      //left: 0;
      //top: 0;
      //bottom: 0;
      z-index: 13;
      width: 30%;
      position: relative;
      float: left;
      box-shadow: 4px 0 9px 0 rgba(0, 0, 0, 0.16);
      background: #fff;
      height: 560px;
      overflow-y: auto;
//      padding: 15px;
      .btn-close-sidebar{
        display: none;
      }
      @media(max-width: 992px){
        width: 280px;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        .btn-close-sidebar{
          display: inline-block;
        }
      }

      &.nav-close{
        @media(max-width: 992px){
          transform: translateX(-100%);
          transition: .25s;
          .nav-toggle{
            display: block;
          }
        }
        .nav-toggle{
          display: none;
        }
        //.fa-bars{
        //  display: none;
        //}
      }
      &.nav-open{
        transform: translateX(0);
        transition: .25s;
        .nav-toggle{
          display: block;
        }
        //.fa-times{
        //  display: none;
        //}
      }
      ul{
        li{
          border-bottom: 1px solid #dcdcdc;
          padding: 15px;
          &.active{
            background: #dcdcdc;
          }
          h4{
            color: #ed1d24;
            font-size: 14px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 10px;
          }
          p{
            color: #4a4a4a;
            margin-bottom: 0;
          }
        }
      }
    }
    .custom-map-layer-container{
      width: 70%;
      position: relative;
      float: left;
      @media(max-width: 992px){
        width: 100%;
      }
    }
  }
}
.slogan-description{
  width: 95%;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
}
.btn-container{
  padding: 20px 0;
}
.leaflet-container{
  height: 560px;
}
.nav > li > a{
   transition: all .5s ease-in-out;
}
.nav > li > a:hover, .nav > li > a:focus,.nav > li > a:focus{
  background-color: #ed1d24;
  color: #fff;
  transition: all .5s ease-in-out;
}
.spark-cont {
  height: 30px;
  width: 200px;
  display: inline-block
}
.width-half{
  // width: 80%;
  // display: block;
  // margin: 0 auto;
}
.t-market-head{
  text-transform: uppercase;
  margin: 0;
  padding:0;
  padding: 25px 0;
}
.list-space-up{

  li{
    // padding-bottom: 15px;
  }
}
.highcharts-container{
    width:100% !important;
    height:100% !important;
}
.t-market-paragrph{
      font-size: 18px;
    text-align: center;
    color: #000000;
    margin-bottom: 0;
    padding-bottom: 30px;
}
.market-watch-section{
  background-color: #f9f9f9;
  padding-top: 50px;
  padding-bottom: 50px;
  .heads{
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    color: #000000;
    width: 95%;
    display: block;
    line-height: 1.2;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
.full-width-chart{
  width: 100%;
  position: relative;
}
.spacing-between-tabs{
  margin-bottom: 20px;
}
.list-vertical{
  height: 400px;
  overflow-y: scroll;
  .news-heading {
    margin: 0;
    padding: 0;
    font-size: 14px;
    padding-bottom: 5px;
        font-weight: bold;
        color: #ed1d24;
  }
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #ed1d24;
}
.nav-pills{
  margin-bottom: 30px;
  margin-top: 20px;
}
.nav-pills > li > a{
  color: #000;
}
.pil-left{
  .nav-pills{
    text-align: left;
    background: #fff;
    padding-bottom: 0;
  }
}
.padding-right-sec{
  padding-right: 0;
}
.padding-left-sec{
  padding-left: 0;
}
.wi-top{
  margin-top: 20px;
  margin-bottom: 20px;
}
.fa-long-arrow-up{
  color: rgb(97, 196, 110)!important;
  font-weight: bold;
}
.fa-long-arrow-down{
  color: red;
}
.fa-arrows-v{
  color: rgb(0, 176, 255);
}
.space-t-section{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 1px 2px 1px #00000017;
  margin-left: 15px;
  margin-right: 15px;
}
.single-chart{
 //padding:25px;
  padding: 0;
  &.news-widget{
    padding: 0 15px;
  }
  .nav-pills{
    margin-bottom: 0;
  }
}
.market-news-heading{
      font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: #2d2d2d;
    margin: 0;
    padding: 15px 0;
}
.leaflet-top, .leaflet-bottom{
  z-index: 10;
}
.sub-heading{
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  position: relative;
}
.top-chart-container{
      padding: 20px;
}
.pil-right .nav-pills {
    text-align: center;
    background: #fff;
    padding-bottom: 0;
}
.loading {
  &.active{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
  }
}
.block-hyper-link{
  display: block;
 @extend .clearfix;
}
.pro-leadership-des{
  font-size: 18px;
  font-weight: 600;
  margin: 10px 0;
}
