<div class="single-chart">
    <uib-tabset type="pills" class="pil-left">
        <uib-tab heading="DSEX">
                <highchart config="dsexChart" class="full-width-chart"></highchart>
        </uib-tab>
        <uib-tab heading="DSES">
                <highchart config="dsesChart" class="full-width-chart"></highchart>
        </uib-tab>
        <uib-tab heading="DS30">
            <highchart config="ds30Chart" class="full-width-chart"></highchart>
        </uib-tab>
    </uib-tabset>
</div>

  <!-- {{chartConfig}} -->

