<div class="single-chart news-widget">
  <ul class="list-unstyled list-space-up list-vertical">
    <li ng-repeat="news in news">
      <h1 class="news-heading">{{news['trade_code']}}</h1>
      <p class="news-description">{{news.news}}</p>
    </li>
  </ul>
</div>
