<uib-tabset type="pills" class="pil-right">
  <uib-tab heading="Top Value">
    <div class="top-chart-container">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-responsive">
          <thead>
          <tr>
            <th>Stocks</th>
            <th>LTP</th>
            <th>%</th>
            <th>Value</th>
            <th>Volume</th>
            <th>Trade</th>
            <th>Price</th>
            <th>Volume</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="value in topVal">
            <td>{{value.TC}}</td>
            <td>{{value.LTP}}</td>
            <td>
              <i ng-show="value.YCP == value.LTP" class="fa fa-arrows-v" aria-hidden="true"></i>
              <i ng-show="value.YCP > value.LTP" class="fa fa-long-arrow-down" aria-hidden="true"></i>
              <i ng-show="value.YCP < value.LTP" class="fa fa-long-arrow-up" aria-hidden="true"></i>
              {{((value.LTP - value.YCP) * 100) / value.YCP | number:2}} %
            </td>
            <td>{{value.TTVal}}</td>
            <td>{{value.TTVol}}</td>
            <td>{{value.TT}}</td>
            <td  style="width: 200px">
              <highchart config="value.chart"></highchart>
            </td>
            <td  style="width: 200px">
              <highchart config="value.column"></highchart>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </uib-tab>
  <uib-tab heading="Top Gainer">
    <div class="top-chart-container">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-responsive">
          <thead>
          <tr>
            <th>Stocks</th>
            <th>LTP</th>
            <th>%</th>
            <th>Value</th>
            <th>Volume</th>
            <th>Trade</th>
            <th>Price</th>
            <th>Volume</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="value in topGainer">
            <td>{{value.TC}}</td>
            <td>{{value.LTP}}</td>
            <td>
              <i ng-show="value.YCP == value.LTP" class="fa fa-arrows-v" aria-hidden="true"></i>
              <i ng-show="value.YCP > value.LTP" class="fa fa-long-arrow-down" aria-hidden="true"></i>
              <i ng-show="value.YCP < value.LTP" class="fa fa-long-arrow-up" aria-hidden="true"></i>
              {{((value.LTP - value.YCP) * 100) / value.YCP | number:2}} %
            </td>
            <td>{{value.TTVal}}</td>
            <td>{{value.TTVol}}</td>
            <td>{{value.TT}}</td>
            <td  style="width: 200px">
              <highchart config="value.chart"></highchart>
            </td>
            <td  style="width: 200px">
              <highchart config="value.column"></highchart>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </uib-tab>
  <uib-tab heading="Top Loser">
    <div class="top-chart-container">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-responsive">
          <thead>
          <tr>
            <th>Stocks</th>
            <th>LTP</th>
            <th>%</th>
            <th>Value</th>
            <th>Volume</th>
            <th>Trade</th>
            <th>Price</th>
            <th>Volume</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="value in topLooser">
            <td>{{value.TC}}</td>
            <td>{{value.LTP}}</td>
            <td>
              <i ng-show="value.YCP == value.LTP" class="fa fa-arrows-v" aria-hidden="true"></i>
              <i ng-show="value.YCP > value.LTP" class="fa fa-long-arrow-down" aria-hidden="true"></i>
              <i ng-show="value.YCP < value.LTP" class="fa fa-long-arrow-up" aria-hidden="true"></i>
              {{((value.LTP - value.YCP) * 100) / value.YCP | number:2}} %
            </td>
            <td>{{value.TTVal}}</td>
            <td>{{value.TTVol}}</td>
            <td>{{value.TT}}</td>
            <td  style="width: 200px">
              <highchart config="value.chart"></highchart>
            </td>
            <td  style="width: 200px">
              <highchart config="value.column"></highchart>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
     </div>
  </uib-tab>
  <uib-tab heading="Top Volume">
    <div class="top-chart-container">
      <div class="table-responsive">
        <table class="table table-striped table-bordered table-responsive">
          <thead>
          <tr>
            <th>Stocks</th>
            <th>LTP</th>
            <th>%</th>
            <th>Value</th>
            <th>Volume</th>
            <th>Trade</th>
            <th>Price</th>
            <th>Volume</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="value in topVol">
            <td>{{value.TC}}</td>
            <td>{{value.LTP}}</td>
            <td>
              <i ng-show="value.YCP == value.LTP" class="fa fa-arrows-v" aria-hidden="true"></i>
              <i ng-show="value.YCP > value.LTP" class="fa fa-long-arrow-down" aria-hidden="true"></i>
              <i ng-show="value.YCP < value.LTP" class="fa fa-long-arrow-up" aria-hidden="true"></i>
              {{((value.LTP - value.YCP) * 100) / value.YCP | number:2}} %
            </td>
            <td>{{value.TTVal}}</td>
            <td>{{value.TTVol}}</td>
            <td>{{value.TT}}</td>
            <td  style="width: 200px">
              <highchart config="value.chart"></highchart>
            </td>
            <td  style="width: 200px">
              <highchart config="value.column"></highchart>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </uib-tab>
  <uib-tab heading="Top Trade">
    <div class="top-chart-container">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <thead>
          <tr>
            <th>Stocks</th>
            <th>LTP</th>
            <th>%</th>
            <th>Value</th>
            <th>Volume</th>
            <th>Trade</th>
            <th>Price</th>
            <th>Volume</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="value in topTrade">
            <td>{{value.TC}}</td>
            <td>{{value.LTP}}</td>
            <td>
              <i ng-show="value.YCP == value.LTP" class="fa fa-arrows-v" aria-hidden="true"></i>
              <i ng-show="value.YCP > value.LTP" class="fa fa-long-arrow-down" aria-hidden="true"></i>
              <i ng-show="value.YCP < value.LTP" class="fa fa-long-arrow-up" aria-hidden="true"></i>
              {{((value.LTP - value.YCP) * 100) / value.YCP | number:2}} %
            </td>
            <td>{{value.TTVal}}</td>
            <td>{{value.TTVol}}</td>
            <td>{{value.TT}}</td>
            <td  style="width: 200px">
              <highchart config="value.chart"></highchart>
            </td>
            <td style="width: 200px">
              <highchart config="value.column"></highchart>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

    </div>
  </uib-tab>
</uib-tabset>



