<!--<pre>{{data | json}}</pre>-->
<div class="banner-who" style="background-image:url({{data['titlePhoto'].image}})">
  <div class="d-table">
    <div class="d-cell">
      <h3>{{data['titlePhoto'].title}}</h3>
    </div>
  </div>
</div>
<div class="pro-bg-color bg-col-leader no-tab-space  clearfix">
  <div class="product-trade togle-btn clearfix">
    <uib-tabset>
      <uib-tab heading="Articles">
        <h3 ng-show="data.knowledge.articles.length == 0" class="pro-leadership-top aritic-space text-center">No Articles</h3>
        <div class="container" ng-show="data.knowledge.articles.length > 0">
          <div class="row rows-top-space rows-width">
            <div class="col-md-6 no-padding">
              <a class="block-hyper-link" ui-sref="knowledgeBase.single({id: data.knowledge.articles[0].slug})">
                <span class="vedio-home-section"><img alt="" ng-src="{{data.knowledge.articles[0]['thumbnail_image']}}"></span>
              </a>
            </div>
            <div class="col-md-6">
              <a class="knowledge-top block-hyper-link" ui-sref="knowledgeBase.single({id: data.knowledge.articles[0].slug})">
                <h3 class="knowledge-heading">{{data.knowledge.articles[0].title}}</h3>
                <!--<ul class="list-inline">-->
                <!--<li>Finance</li>-->
                <!--<li>15h ago</li>-->
                <!--</ul>-->
                <p class="knowledge-description" ng-bind-html="data.knowledge.articles[0].content"></p>
                <a ui-sref="knowledgeBase.single({id: data.knowledge.articles[0].slug})" class="t-l-ft">Read More</a>
              </a>
            </div>
          </div>
          <div class="row rows-width" ng-show="data.knowledge.articles.length > 1">
            <div class="ex-article">
              <div class="pro-leadership">
                <div class="aritic-space">
                  <h3 class="pro-leadership-top  text-center">{{data.knowledge.slogan.title}}</h3>
                  <p class="pro-leadership-des text-center" ng-if="(data.knowledge.slogan.text | removeHTMLTags) != 'N/A'">{{data.knowledge.slogan.text}}</p>
                </div>
              </div>
              <!--<div class="bt-center-leader">-->
              <!--<ul class="list-inline text-center">-->
              <!--<li ng-class="type == ''?'active': ''">-->
              <!--<a href="" class="btn btn-leader btn-lead" ng-click="tabToggle('')">All</a>-->
              <!--</li>-->
              <!--<li ng-class="type == ''?'active': ''">-->
              <!--<a href="" class="btn btn-leader btn-lead" ng-click="tabToggle('')">Type 1</a>-->
              <!--</li>-->
              <!--</ul>-->
              <!--</div>-->
              <div class="rows-top-list  clearfix" ng-repeat="article in data.knowledge.articles |limitTo:3" ng-if="$index > 0">
                <a ui-sref="knowledgeBase.single({id: article.slug})" class="block-hyper-link">
                  <div class="col-md-6 no-padding">
                    <span class="vedio-home-section">
                      <img alt="" ng-src="{{article['thumbnail_image']}}">
                    </span>
                  </div>
                  <div class="col-md-6">
                    <div class="knowledge-top">
                      <h3 class="knowledge-heading">{{article.title}}</h3>
                      <!--<ul class="list-inline">-->
                      <!--<li>Finance</li>-->
                      <!--<li>15h ago</li>-->
                      <!--</ul>-->
                      <p class="knowledge-description" ng-bind-html="article.content"></p>
                      <span class="t-l-ft">Read More</span>
                    </div>
                  </div>
                </a>
              </div>
              <!--<div class="rows-top-list clearfix">-->
              <!--<div class="col-md-6 no-padding">-->
              <!--<a href="" class="vedio-home-section">-->
              <!--<img alt="" ng-src="http://idlcbeta.alienide.com/upload/images/e7e40a567776b3a67c8920bc5595afe3a14208b4adeca165657aad34f258b6ed.jpg" src="http://idlcbeta.alienide.com/upload/images/e7e40a567776b3a67c8920bc5595afe3a14208b4adeca165657aad34f258b6ed.jpg">-->
              <!--</a>-->
              <!--</div>-->
              <!--<div class="col-md-6">-->
              <!--<div class="knowledge-top">-->
              <!--<h3 class="knowledge-heading">How can (A)I help you? The rise of the bot in financial services</h3>-->
              <!--<ul class="list-inline">-->
              <!--<li>Finance</li>-->
              <!--<li>15h ago</li>-->
              <!--</ul>-->
              <!--<p class="knowledge-description">Managing customer service interactions can, in many cases, be expensive; from the required infrastructure-->
              <!--to the person sitting behind a phone or desk, costs quickly build up. This arguably fueled the transition-->
              <!--from in-country to out of country customer contact centers. However</p>-->
              <!--<a href="" class="t-l-ft">Read More</a>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <div class="bt-service text-center" ng-if="limit > 3">
                <!--<a ui-sref="whatWeOffer.list" class="btn btn-service" href="#!/what-we-offer/list">View All</a>-->
                <div uib-collapse="!isCollapsed">
                  <div class="rows-top-list clearfix" ng-repeat="article in data.knowledge.articles |limitTo:limit:3">
                    <div class="col-md-6 no-padding">
                      <a ui-sref="knowledgeBase.single({id: article.slug})" class="vedio-home-section">
                        <img alt="" ng-src="{{article.image}}">
                      </a>
                    </div>
                    <div class="col-md-6">
                      <div class="knowledge-top">
                        <h3 class="knowledge-heading">{{article.title}}</h3>
                        <!--<ul class="list-inline">-->
                        <!--<li>Finance</li>-->
                        <!--<li>15h ago</li>-->
                        <!--</ul>-->
                        <p class="knowledge-description" ng-bind-html="article.content"></p>
                        <a href="" class="t-l-ft">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-service" ng-click="isCollapsed = !isCollapsed"><span ng-if="!isCollapsed">View All</span><span ng-if="isCollapsed">View Less</span></button>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
      <uib-tab heading="FAQ">
        <h3 ng-show="data.knowledge.faqs.length == 0" class="pro-leadership-top aritic-space text-center">No FAQ</h3>
        <div class="container" ng-show="data.knowledge.faqs.length > 0">
          <div class="row">
            <div class="ex-article">
              <div class="pro-leadership">
                <h3 class="pro-leadership-top aritic-space text-center">Frequently Asked Questions</h3>
              </div>
              <!--<div class="bt-center-leader">-->
              <!--<ul class="list-inline text-center">-->
              <!--<li ng-class="type == ''?'active': ''">-->
              <!--<a href="" class="btn btn-leader btn-lead" ng-click="tabToggle('')">All</a>-->
              <!--</li>-->
              <!--<li ng-class="type == ''?'active': ''">-->
              <!--<a href="" class="btn btn-leader btn-lead" ng-click="tabToggle('')">Type 1</a>-->
              <!--</li>-->
              <!--<li ng-class="type == ''?'active': ''">-->
              <!--<a href="" class="btn btn-leader btn-lead" ng-click="tabToggle('')">Typ</a>-->
              <!--</li>-->
              <!--</ul>-->
              <!--</div>-->
              <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel panel-customs panel-faq panel-width-auto panel-fq" ng-repeat="faq in data.knowledge.faqs" heading="{{faq.title}}">
                  <div ng-bind-html="faq.content"></div>
                </div>
              </uib-accordion>
              <!--<div class="panel-group" role="tablist" aria-multiselectable="true">-->
              <!--<div class="panel panel-customs panel-faq">-->
              <!--<div class="panel-heading p-heads panel-faq-head" role="tab">-->
              <!--<h4 class="panel-title panel-faq-title">-->
              <!--<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
              <!--Why Invest in Bangladesh-->
              <!--</a>-->
              <!--</h4>-->
              <!--</div>-->
              <!--<div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">-->
              <!--<div class="panel-body">-->
              <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,-->
              <!--non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,-->
              <!--sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,-->
              <!--craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings-->
              <!--occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus-->
              <!--labore sustainable VHS.-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--<div class="panel-group" role="tablist" aria-multiselectable="true">-->
              <!--<div class="panel panel-customs panel-faq">-->
              <!--<div class="panel-heading p-heads panel-faq-head" role="tab">-->
              <!--<h4 class="panel-title panel-faq-title">-->
              <!--<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
              <!--Why Invest in Bangladesh-->
              <!--</a>-->
              <!--</h4>-->
              <!--</div>-->
              <!--<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">-->
              <!--<div class="panel-body">-->
              <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,-->
              <!--non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,-->
              <!--sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,-->
              <!--craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings-->
              <!--occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus-->
              <!--labore sustainable VHS.-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
