<!--<pre>{{data | json}}</pre>-->
<div class="banner-who" style="background-image:url({{singleData.knowledge.image}})">
  <!--<div class="d-table">-->
    <!--<div class="d-cell">-->
      <!--<h3>{{data['titlePhoto'].title}}</h3>-->
    <!--</div>-->
  <!--</div>-->
</div>
<div class="pro-bg-color bg-col-leader no-tab-space  clearfix">
  <div class="product-trade togle-btn clearfix">
    <div class="row">
      <div class="know-single">
        <h3 class="know-single-heading">{{singleData.knowledge.title}}</h3>
        <p class="know-single-description" ng-bind-html="singleData.knowledge.content"></p>
        <!--<div class="konwledge-catagory">-->
          <!--<ul class="list-inline">-->
            <!--<li>Categories: </li>-->
            <!--<li>Finance</li>-->
            <!--<li>Finance</li>-->
          <!--</ul>-->
        <!--</div>-->
      </div>
    </div>
  </div>
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="also-like-section clearfix">-->
        <!--<h2 class="also-like-head">You may also read</h2>-->
        <!--<div class="card-section">-->
          <!--<multi-carousel-slider class="owl-carousel owl-theme">-->
            <!--<div class="item panel panel-sets" multi-carousel-slider-item="" ng-repeat="product in singleData.relatedKnowledge">-->
              <!--<div class="panel-body panel-sets-body">-->
                <!--<a ui-sref="whatWeOffer.single({id: product.slug})">-->
                  <!--<img ng-src="{{product.image}}" alt="aaa">-->
                  <!--<div class="card-text">-->
                    <!--<p>{{product.title}}</p>-->
                  <!--</div>-->
                <!--</a>-->
              <!--</div>-->
            <!--</div>-->
          <!--</multi-carousel-slider>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
</div>
