<nav class="navbar headerWrapper">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand header-brand" href="#">
          <img src="images/logo.svg" alt="">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
      
      <ul class="nav navbar-nav navbar-right header-right">
        <li><a href="#">Who We Are</a></li>
        <li><a href="#">What We Offer</a></li>
        <li><a href="#">Research</a></li>
        <li><a href="#">Download</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Open an Account <span class="caret"></span></a>
          <!--<ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Action</a></li>
          </ul>-->
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<nav class="navbar headerWrapper-bottom">
  <div class="container no-padding border-middle">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse no-padding" id="bs-example-navbar-collapse-1">
    
      
      <ul class="nav navbar-nav navbar-left header-right">
        <li><a href="#">Who We Are</a></li>
        <li><a href="#">What We Offer</a></li>
        <li><a href="#">Research</a></li>
        <li><a href="#">Download</a></li>
        <li><a href="#">Open an Account</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Action</a></li>
            <li><a href="#">Action</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right n-right">
        <li>
            <div class="input-group">
                <input type="text" class="form-control f-ct" placeholder="Search">
                <span class="input-group-btn">
                    <button class="btn btn-customs" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>