<!--<pre>{{formData | json}}</pre>-->
<form class="slider-form-section" ng-submit="postOrder()" ng-class="formHold?'active':''">
  <div class="form-group f-group">
    <input type="text" class="form-control f-control" placeholder="Full Name" ng-model="formData.name" required="">
  </div>
  <div class="form-group f-group">
    <input type="text" class="form-control f-control" placeholder="Phone Number" numbers-only maxlength="11" minlength="11" ng-model="formData.phone" required="">
  </div>
  <div class="input-group form-group f-group">
    <input type="text" class="form-control f-control" placeholder="Select Date" ng-click="open($event)" uib-datepicker-popup="yyyy/MM/dd" ng-model="formData.date" is-open="popup.opened" datepicker-options="dateOptions"  ng-required="true"/>
    <span class="input-group-btn">
      <button type="button" class="btn btn-col-primary" ng-click="open($event)"><span class="fa fa-calendar" aria-hidden="true"></span></button>
    </span>
  </div>
  <div class="form-group f-group">
    <input type="text" class="form-control f-control" placeholder="Nearest City" ng-model="formData.city" required="">
  </div>
  <button type="submit" class="btn btn-form">
    <i class="fa fa-phone" aria-hidden="true"></i>Call Me
  </button>
</form>
