<!--<pre>{{formData | json}}</pre>-->
<form class="slider-form-section" ng-submit="postOrder()" ng-class="formHold?'active':''">
  <div class="form-group f-group">
    <input type="text" class="form-control f-control" placeholder="Name" ng-model="formData['account_holder']" required="">
  </div>
  <div class="form-group f-group">
    <input type="text" class="form-control f-control" placeholder="Present Address" ng-model="formData['present_address']" required="">
  </div>
  <div class="form-group f-group">
    <input type="text" class="form-control f-control" placeholder="Phone Number" numbers-only maxlength="11" minlength="11" ng-model="formData['present_phone']" required="">
  </div>
  <div class="form-group f-group">
    <input type="text" class="form-control f-control" placeholder="Email" ng-model="formData['present_email']" required="">
  </div>
  <button type="submit" class="btn btn-form">
    Open Account
  </button>
</form>
