<h3 class="bio-heading">Customer Account Information</h3>
<div class="bio-form-section">
  <div class="form-horizontal fr-horizon">
    <div class="form-group fr-group">
      <label class="control-label c-label col-sm-3">Client account no.</label>
      <div class="col-sm-6 no-padding">
        <input class="form-control f-control" ng-model="boInfo['applicant_info']['client_account_no']" type="text" >
      </div>
    </div>
    <div class="form-group fr-group">
      <label class="control-label c-label col-sm-3">BO ID no.</label>
      <div class="col-sm-7 no-padding">
        <input class="form-control f-control" ng-model="boInfo['applicant_info']['bo_id_no']" type="text" >
      </div>
    </div>
    <div class="form-group fr-group">
      <label class="control-label c-label col-sm-3">Account type:</label>
      <div class="col-sm-2 no-padding">
        <label class="radio-inline">
          <input name="account_type" value="Cash" ng-model="boInfo['applicant_info']['account_type']" type="radio">Cash </label></br>
        <label class="radio-inline">
          <input name="account_type" value="Margin" ng-model="boInfo['applicant_info']['account_type']" type="radio">Margin </label>
      </div>
      <label class="control-label c-label col-sm-1">NRB:</label>
      <div class="col-sm-2 no-padding">
        <label class="radio-inline">
          <input name="nrb" value="Cash" ng-model="boInfo['applicant_info']['nrb']" type="radio">Cash </label></br>
        <label class="radio-inline">
          <input name="nrb" value="Margin" ng-model="boInfo['applicant_info']['nrb']" type="radio">Margin </label>
      </div>
      <label class="control-label c-label col-sm-2">Status:</label>
      <div class="col-sm-2 no-padding">
        <label class="radio-inline">
          <input name="status" value="Cash" ng-model="boInfo['applicant_info']['status']" type="radio"> Cash</label></br>
        <label class="radio-inline">
          <input name="status" value="Margin" ng-model="boInfo['applicant_info']['status']" type="radio"> Margin</label>
      </div>
    </div>
    <div class="form-group fr-group">
      <label class="control-label c-label c-belel col-sm-3">Special Remarks.
        <br>
        <span class="small-font">if any</span>
      </label>
      <div class="col-sm-8 no-padding">
        <input class="form-control f-control" ng-model="boInfo['applicant_info']['special_remarks']" type="text" >
      </div>
    </div>
  </div>
  <div class="form-padding clearfix">
    <div class="form-group  fr-group clearfix">
      <label class="col-md-12 no-padding c-label">Name of the Customer/ Account Holder:</label>
      <input class="col-md-12 form-control f-control" ng-model="boInfo['applicant_info']['account_holder']" type="text" >
    </div>
    <div class="col-md-9 no-padding">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Father’s / Husbands Name:</label>
        <input class="form-control f-control" ng-model="boInfo['applicant_info']['father_name']" type="text" >
      </div>
    </div>
    <div class="col-md-5 no-padding">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label clearfix col-md-12">Date of birth:</label>
        <div class="col-md-12 no-padding-left">
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['date_of_birth']" ng-click="datePopup.applicantInfo.dateOfBirth.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.applicantInfo.dateOfBirth.opened" datepicker-options="dateOptions" type="text" placeholder="Date of Birth" >
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-2 no-padding">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Sex:</label>
        <select class="form-control f-control" ng-model="boInfo['applicant_info']['sex']" >
          <option selected disabled>Select</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
    <div class="col-md-5 no-padding padding-left no-padding-right">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label clearfix col-md-12">Marriage Anniversary:</label>
        <div class="col-md-12 no-padding-left">
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" type="text" ng-model="boInfo['applicant_info']['marriage_anniversary']" ng-click="datePopup.applicantInfo.marriageAnniversary.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.applicantInfo.marriageAnniversary.opened" datepicker-options="dateOptions" placeholder="Date" >
          </div>
        </div>
      </div>
    </div>
    <div class="form-second-section clearfix">
      <div class="col-md-12 no-padding">
        <div class="col-md-6 no-padding-left">
          <label class="c-label clearfix">Occupation:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['occupation']" type="text" placeholder="Occupation" >
          </div>
        </div>
        <div class="col-md-6 no-padding-right">
          <label class="c-label clearfix">Nationality:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['nationality']" type="text" placeholder="Nationality" >
          </div>
        </div>
        <div class="col-md-12 no-padding">
          <label class=" no-padding c-label clearfix">Present Address:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['present_address']" type="text" placeholder="Present Address" >
          </div>
        </div>
        <div class="col-md-6 no-padding-left">
          <label class=" no-padding c-label clearfix">Phone:</label>
          <div class="form-group  fr-group clearfix ">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['present_phone']" type="text" placeholder="Phone" >
          </div>
        </div>
        <div class="col-md-6 no-padding-right">
          <label class=" no-padding c-label clearfix">Fax:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['present_fax']" type="text" placeholder="Fax" >
          </div>
        </div>
        <div class="col-md-6 no-padding-left">
          <label class=" no-padding c-label clearfix">Email:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['present_email']" type="email" placeholder="Email" >
          </div>
        </div>
        <div class="col-md-12 no-padding">
          <label class=" no-padding c-label clearfix">Permanent Address:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['permanent_address']" type="text" placeholder="Permanent
Address" >
          </div>
        </div>
        <div class="col-md-6 no-padding-left">
          <label class=" no-padding c-label clearfix">Phone:</label>
          <div class="form-group  fr-group clearfix ">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['permanent_phone']" type="text" placeholder="Phone" >
          </div>
        </div>
        <div class="col-md-6 no-padding-right">
          <label class=" no-padding c-label clearfix">Fax:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['permanent_fax']" type="text" placeholder="Fax" >
          </div>
        </div>
        <div class="col-md-6 no-padding-left">
          <label class=" no-padding c-label clearfix">Email:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['permanent_email']" type="email" placeholder="Email" >
          </div>
        </div>
        <div class="col-md-12 no-padding">
          <label class=" no-padding c-label clearfix">Name of the Authorized Person:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['auth_person']" type="text" placeholder="Name of the Auth Person" >
          </div>
        </div>
        <div class="col-md-12 no-padding">
          <label class=" no-padding c-label clearfix">Father’s / Husbands Name:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['auth_father_name']" type="text" placeholder="Father’s/Husbands Name" >
          </div>
        </div>
        <div class="col-md-5 no-padding">
          <div class="form-group  fr-group clearfix">
            <label class=" no-padding c-label clearfix col-md-12">Date of birth</label>
            <div class="col-md-12 no-padding-left">
              <div class="form-group  fr-group clearfix">
                <input class="form-control f-control" ng-model="boInfo['applicant_info']['auth_date_of_birth']" type="text" ng-click="datePopup.applicantInfo.authDateOfBirth.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.applicantInfo.authDateOfBirth.opened" datepicker-options="dateOptions" placeholder="Date of birth" >
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 phone-padding-zero">
          <div class="form-group  fr-group clearfix">
            <label class=" no-padding c-label">Sex:</label>
            <select class="form-control f-control" ng-model="boInfo['applicant_info']['auth_sex']" >
              <option selected disabled>Select</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 no-padding-right">
          <div class="form-group  fr-group clearfix">
            <label class=" no-padding c-label">Nationality:</label>
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['auth_nationality']" type="text" placeholder="Nationality" >
          </div>
        </div>
        <div class="col-md-12 no-padding">
          <label class=" no-padding c-label clearfix">Present Address:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['auth_present_address']" type="text" placeholder="Present Address" >
          </div>
        </div>
        <div class="col-md-4 no-padding-left">
          <label class=" no-padding c-label clearfix">Phone:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['auth_present_phone']" type="text" placeholder="Phone" >
          </div>
        </div>
        <div class="col-md-4 phone-padding-zero">
          <label class=" no-padding c-label clearfix">Fax:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['auth_present_fax']" type="text" placeholder="Fax">
          </div>
        </div>
        <div class="col-md-4 no-padding-right">
          <label class=" no-padding c-label clearfix">Email:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['auth_present_email']" type="email" placeholder="Email" >
          </div>
        </div>
        <div class="col-md-12 no-padding">
          <label class=" no-padding c-label clearfix">Permanent Address:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['auth_permanent_address']" type="text" placeholder="Permanent Address" >
          </div>
        </div>
        <div class="col-md-4 no-padding-left">
          <label class=" no-padding c-label clearfix">Phone:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['auth_permanent_phone']" type="text" placeholder="Phone" >
          </div>
        </div>
        <div class="col-md-4 phone-padding-zero">
          <label class=" no-padding c-label clearfix">Fax:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['auth_permanent_fax']" type="text" placeholder="Fax">
          </div>
        </div>
        <div class="col-md-4 no-padding-right">
          <label class=" no-padding c-label clearfix">Email:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['auth_permanent_email']" type="email" placeholder="Email" >
          </div>
        </div>
        <div class="col-md-12 no-padding-left">
          <div class="form-group  fr-group clearfix">
            <p class="">Whether the Customer or Joint Holder is an Officer or Director of any Stock Exchange/Listed Company?</p>
            <label class="radio-inline">
              <input type="radio" value="Yes" ng-model="boInfo['applicant_info']['listed_company']" name="listed_company">Yes
            </label>
            <label class="radio-inline">
              <input type="radio" value="No" ng-model="boInfo['applicant_info']['listed_company']" name="listed_company">No
            </label>
          </div>
        </div>
        <div class="col-md-8 no-padding-left">
          <label class=" no-padding c-label clearfix">Name of the Stock Exchange/Listed Company:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['company_name']" placeholder="Name of the Stock Exchange" >
          </div>
        </div>
        <div class="col-md-12 no-padding-left no-padding-right">
          <label class=" no-padding c-label clearfix">Address of the Stock Exchange/Listed Company:</label>
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['applicant_info']['company_address']" placeholder="Address of the Stock Exchange" >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-padding">
    <div class="checkbox">
      <label><input type="checkbox" value="true" ng-model="boInfo['applicant_info']['t_and_c']" >Agreed to our Terms and confirm that you have read our <a href="" ng-click="modalOpen('modal-tnc.html','md')">Terms and conditions.</a> </label>
    </div>
  </div>
</div>
