<h3 class="bio-heading">Customer Account Information</h3>
<div class="bio-form-section clearfix">
  <div class="for-bgs clearfix">
    <div class="col-md-8">
      <div class="form-group fr-group clearfix">
        <label class=" no-padding c-label">Application no:</label>
        <input class="form-control f-control" type="text" ng-model="boInfo['bye_law']['application_no']" >
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">BO Category:</label>
        <input type="text" class="form-control f-control" ng-model="boInfo['bye_law']['bo_category']" >
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">BO type:</label>
        <input type="text" class="form-control f-control" ng-model="boInfo['bye_law']['bo_type']" >
      </div>
    </div>
    <div class="col-md-10">
      <div class="form-group fr-group clearfix">
        <label class=" no-padding c-label">Name of CDBL Participant:</label>
        <input class="form-control f-control f-active" type="text" placeholder="IDLC SECURITIES LIMITED" ng-model="boInfo['bye_law']['cdbl_name']" >
      </div>
    </div>


    <div class="col-md-6">
      <div class="form-group fr-group clearfix">
        <label class=" no-padding c-label">CDBL Participant ID:</label>
        <input class="form-control f-control" type="text" ng-model="boInfo['bye_law']['cdbl_id']" >
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group fr-group clearfix">
        <label class=" no-padding c-label">BO ID:</label>
        <input class="form-control f-control" type="text" ng-model="boInfo['bye_law']['bo_id']" >
      </div>
    </div>
    <div class="col-md-6 phone-padding phone-padding-left">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label clearfix col-md-12">Date Account Opened:</label>
        <input class="form-control f-control" type="text" placeholder="Account Opened Date" ng-model="boInfo['bye_law']['account_opend_date']" ng-click="datePopup.byeLaw.accountOpendDate.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.byeLaw.accountOpendDate.opened" datepicker-options="dateOptions" >
      </div>
    </div>
    <div class="col-md-12 no-padding">
      <p class="bg-co-white text">I / We request you to open a Depository Account in my / our name as per the following details.</p>
    </div>
  </div>
  <div class="clearfix">
    <div class="col-md-9">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Short Name of Account Holder:<small class="small-text">(Abbreviate only if over 30 characters)</small></label>
        <input class="form-control f-control" type="text" ng-model="boInfo['bye_law']['short_name_account_holder']" >
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Title</label>
        <select class="form-control f-control" ng-model="boInfo['bye_law']['title']" >
          <option selected disabled>Select</option>
          <option value="Mr.">Mr.</option>
          <option value="Ms.">Ms.</option>
        </select>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Name of Contact Person:<small class="small-text">(In case of a Company / Firm / Statury Body)</small></label>
        <input class="form-control f-control" type="text" ng-model="boInfo['bye_law']['name_contact_person']">
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Sex:</label>
        <select class="form-control f-control"  ng-model="boInfo['bye_law']['sex']">
          <option selected disabled>Select</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Occupation:</label>
        <input class="form-control f-control"  ng-model="boInfo['bye_law']['occupation']" type="text">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Father’s or Husband’s Name:</label>
        <input class="form-control f-control"  ng-model="boInfo['bye_law']['father_husband_name']" type="text">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Mother’s Name:</label>
        <input class="form-control f-control"  ng-model="boInfo['bye_law']['mother_name']" type="text">
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Address:</label>
        <input class="form-control f-control"  ng-model="boInfo['bye_law']['address']" type="text">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Post Code:</label>
        <input class="form-control f-control"  ng-model="boInfo['bye_law']['post_code']" type="text">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Country</label>
        <select class="form-control f-control"  ng-model="boInfo['bye_law']['country']">
          <option selected disabled>Select</option>
          <option value="Bangaladesh">Bangladesh</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">State / Division:</label>
        <select class="form-control f-control"  ng-model="boInfo['bye_law']['state']">
          <option selected disabled>Select</option>
          <option value="Barisal">Barisal</option>
          <option value="Chittagong">Chittagong</option>
          <option value="Dhaka">Dhaka</option>
          <option value="Khulna">Khulna</option>
          <option value="Rajshahi">Rajshahi</option>
          <option value="Rangpur">Rangpur</option>
          <option value="Sylhet">Sylhet</option>
          <option value="Mymensingh">Mymensingh</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">City / Upazilla:</label>
        <input class="form-control f-control"  ng-model="boInfo['bye_law']['city']" type="text">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Telephone:</label>
        <input class="form-control f-control" type="text"  ng-model="boInfo['bye_law']['telephone']">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Mobile No:</label>
        <input class="form-control f-control"  ng-model="boInfo['bye_law']['mobile']" type="text">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Fax No.</label>
        <input class="form-control f-control" ng-model="boInfo['bye_law']['fax']" type="text">
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Email</label>
        <input class="form-control f-control"  ng-model="boInfo['bye_law']['email']" type="email">
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Passport No.</label>
        <input class="form-control f-control"  ng-model="boInfo['bye_law']['passport']" type="text">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Issue Place:</label>
        <input class="form-control f-control"  ng-model="boInfo['bye_law']['issue_place']" type="text">
      </div>
    </div>
    <div class="col-md-5 no-padding phone-padding phone-padding-left padding-left">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label clearfix col-md-12">Issue Date:</label>
        <input class="form-control f-control" type="text" placeholder="Account Opened Date" ng-model="boInfo['bye_law']['issue_date']" ng-click="datePopup.byeLaw.issueDate.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.byeLaw.issueDate.opened" datepicker-options="dateOptions" >
      </div>
    </div>
    <div class="col-md-5 no-padding phone-padding-left phone-padding padding-left">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label clearfix col-md-12">Expiry Date:</label>
        <input class="form-control f-control" type="text" placeholder="Account Opened Date" ng-model="boInfo['bye_law']['expiry_date']" ng-click="datePopup.byeLaw.expiryDate.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.byeLaw.expiryDate.opened" datepicker-options="dateOptions" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Bank Name:</label>
        <input class="form-control f-control" ng-model="boInfo['bye_law']['bank_name']"  type="text">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Branch Name:</label>
        <input class="form-control f-control" ng-model="boInfo['bye_law']['branch_name']"  type="text">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Account No:</label>
        <input class="form-control f-control" ng-model="boInfo['bye_law']['account_no']"  type="text">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label small-text-label">Electronic Dividend Credit:</label>
        <input class="form-control f-control" ng-model="boInfo['bye_law']['electronic_credit']"  type="text">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Tax Exemption:</label>
        <input type="text" class="form-control f-control" ng-model="boInfo['bye_law']['tax_exemption']" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">TIN / Tax ID:</label>
        <input class="form-control f-control" ng-model="boInfo['bye_law']['tin']"  type="text">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Residency:</label>
        <input type="text" class="form-control f-control" ng-model="boInfo['bye_law']['residency']" >
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Nationality:</label>
        <input class="form-control f-control" type="text" ng-model="boInfo['bye_law']['nationality']" >
      </div>
    </div>
    <div class="col-md-6 phone-padding-left phone-padding">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label clearfix col-md-12">Date of Birth:</label>
        <input class="form-control f-control" type="text" placeholder="Account Opened Date" ng-model="boInfo['bye_law']['date_of_birth']"  ng-click="datePopup.byeLaw.dateOfBirth.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.byeLaw.dateOfBirth.opened" datepicker-options="dateOptions">
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group  fr-group clearfix">
        <label class="no-padding c-label col-md-12">Statement Cycle Code:</label>
        <label class="radio-inline">
          <input type="radio" name="statement_cycle_code" value="Daily" ng-model="boInfo['bye_law']['statement_cycle_code']" >Daily
        </label>
        <label class="radio-inline">
          <input type="radio" name="statement_cycle_code" value="Weekly" ng-model="boInfo['bye_law']['statement_cycle_code']" >Weekly
        </label>
        <label class="radio-inline">
          <input type="radio" name="statement_cycle_code" value="Fortnightly" ng-model="boInfo['bye_law']['statement_cycle_code']" >Fortnightly
        </label>
        <label class="radio-inline">
          <input type="radio" name="statement_cycle_code" value="Monthly" ng-model="boInfo['bye_law']['statement_cycle_code']" >Monthly
        </label>
        <label class="radio-inline">
          <input type="radio" name="statement_cycle_code" value="Other" ng-model="boInfo['bye_law']['statement_cycle_code']" >Other
        </label>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Internal Ref. No.</label>
        <input class="form-control f-control" ng-model="boInfo['bye_law']['intr_ref_no']"  type="text">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Registration No</label>
        <input class="form-control f-control" ng-model="boInfo['bye_law']['registration_no']"  type="text">
      </div>
    </div>
    <div class="col-md-6 phone-padding-left phone-padding">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label clearfix col-md-12">Date of Birth:</label>
        <input class="form-control f-control" type="text" placeholder="Account Opened Date" ng-model="boInfo['bye_law']['ref_date_of_birth']"  ng-click="datePopup.byeLaw.refDateOfBirth.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.byeLaw.refDateOfBirth.opened" datepicker-options="dateOptions">
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Name of  Second Account Holder:(Joint Applicant)</label>
        <input class="form-control f-control" ng-model="boInfo['bye_law']['joint_applicant_name']"  type="text">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Title:</label>
        <select class="form-control f-control" ng-model="boInfo['bye_law']['joint_applicant_title']" >
          <option selected disabled>Select</option>
          <option value="Mr.">Mr.</option>
          <option value="Ms.">Ms.</option>
        </select>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group  fr-group clearfix">
        <p class="f-sm-s">Would you like to create a link to your existing Depository Account?</p>
        <label class="radio-inline">
          <input type="radio" name="depository_account" value="yes" ng-model="boInfo['bye_law']['depository_account']" >Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="depository_account" value="no" ng-model="boInfo['bye_law']['depository_account']" >No
        </label>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">The Depository BO Account Code:</label>
        <input class="form-control f-control" type="text" ng-model="boInfo['bye_law']['depository_account_code']" >
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Special Instructions on operation of Joint Account?</label>
        <label class="radio-inline">
          <input type="radio" name="depository_account_instructions" value="Either or Survivor" ng-model="boInfo['bye_law']['depository_account_instructions']" >Either or Survivor
        </label>
        <label class="radio-inline">
          <input type="radio" name="depository_account_instructions" value="Any one can operate" ng-model="boInfo['bye_law']['depository_account_instructions']" >Any one can operate
        </label>
        <label class="radio-inline">
          <input type="radio" name="depository_account_instructions" value="Any two will operate jointly" ng-model="boInfo['bye_law']['depository_account_instructions']" >Any two will operate jointly
        </label>
        <label class="radio-inline">
          <input type="radio" name="depository_account_instructions" value="Any two will operate jointly With any one of the others" ng-model="boInfo['bye_law']['depository_account_instructions']" >Any two will operate jointly With any one of the others
        </label>
      </div>
    </div>
  </div>
</div>
