<h3 class="bio-heading">Joint Account Holder Information</h3>
<div class="bio-form-section clearfix">
  <div class="col-md-12">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Name of the Customer/ Account Holder:</label>
      <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder']" type="text" >
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Father’s / Husbands Name:</label>
      <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_father_name']" type="text" >
    </div>
  </div>
  <div class="col-md-5 no-padding padding-left phone-padding">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label clearfix col-md-12">Date of Birth:</label>
      <div class="col-md-12 no-padding-left">
        <div class="form-group  fr-group clearfix">
          <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_birth_date']" ng-click="datePopup.jointInfo.jointAccountHolderDob.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.jointInfo.jointAccountHolderDob.opened" datepicker-options="dateOptions" type="text"  placeholder="Date of Birth">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-2 no-padding padding-left phone-padding">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Sex</label>
      <select class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_sex']" >
        <option selected disabled>Select</option>
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
    </div>
  </div>
  <div class="col-md-5 no-padding padding-left phone-padding">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label clearfix col-md-12">Marriage Anniversary:</label>
      <div class="col-md-12 no-padding-left">
        <div class="form-group  fr-group clearfix">
          <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_marriage']" ng-click="datePopup.jointInfo.marriageAnniversary.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.jointInfo.marriageAnniversary.opened" datepicker-options="dateOptions" placeholder="Date"  type="text" placeholder="Marriage Anniversary">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Occupation:</label>
      <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_occupation']" type="text" >
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Nationality:</label>
      <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_nationality']" type="text" >
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Present Address:</label>
      <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_pre_address']" type="text" >
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Phone:</label>
      <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_phone']" type="text" >
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Fax:</label>
      <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_fax']" type="text">
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Email:</label>
      <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_pre_email']" type="email" >
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Permament Address:</label>
      <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_premanent_address']" type="text" >
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Phone:</label>
      <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_premanent_phone']" type="text" >
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Fax:</label>
      <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_premanent_fax']" type="text">
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group  fr-group clearfix">
      <label class=" no-padding c-label">Email:</label>
      <input class="form-control f-control" ng-model="boInfo['joint_info']['joint_account_holder_premanent_email']" type="email" >
    </div>
  </div>
</div>
