  <h3 class="bio-heading">BO Account Nomination</h3>
  <div class="bio-form-section clearfix">
    <div class="for-bgs clearfix">
      <div class="col-md-5">
        <div class="form-group fr-group clearfix">
          <label class=" no-padding c-label">Name of CDBL Participant:</label>
          <input class="form-control f-control f-active" type="text" placeholder="IDLC SECURITIES LIMITED" ng-model="boInfo['nominee_info']['cdbl_participant_name']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group fr-group clearfix">
          <label class=" no-padding c-label">CDBL Participant ID:</label>
          <input class="form-control f-control f-active" type="text" placeholder="3 6 8 0 0" ng-model="boInfo['nominee_info']['cdbl_participant_id']" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group fr-group clearfix">
          <label class=" no-padding c-label">Account Holder’s BO ID:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['account_holder_bo_id']" >
        </div>
      </div>
      <div class="col-md-9">
        <div class="form-group fr-group clearfix">
          <label class=" no-padding c-label">Short Name of Account Holder:<small class="small-text">(Abbreviate only if over 30 characters)</small></label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['account_holder_short_name']" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Title</label>
          <select class="form-control f-control" ng-model="boInfo['nominee_info']['account_holder_title']" >
            <option selected disabled>Select</option>
            <option value="Mr.">Mr.</option>
            <option value="Ms.">Ms.</option>
          </select>
        </div>
      </div>
      <div class="col-md-12 no-padding">
        <p class="bg-co-white text">I / We nominate the following person(s) who is / are entitled to recieve securities outstanding in my / our account in the event of the death of the sole holders.</p>
      </div>
    </div>
    <div class="clearfix">
      <div class="col-md-9">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Name of Nominee 1:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_name']" >
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Title</label>
          <select class="form-control f-control" ng-model="boInfo['nominee_info']['nominee_1_type']" >
            <option selected disabled>Select</option>
            <option value="Mr.">Mr.</option>
            <option value="Ms.">Ms.</option>
          </select>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Relationship with A/C Holder:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_relationship']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Percentage:%</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_percentage']" >
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Address:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_address']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Post Code:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_post_code']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Country</label>
          <select class="form-control f-control" ng-model="boInfo['nominee_info']['nominee_1_country']" >
            <option selected disabled>Select</option>
            <option value="Bangaladesh">Bangladesh</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">State / Division:</label>
          <select class="form-control f-control" ng-model="boInfo['nominee_info']['nominee_1_state']" >
            <option selected disabled>Select</option>
            <option value="Barisal">Barisal</option>
            <option value="Chittagong">Chittagong</option>
            <option value="Dhaka">Dhaka</option>
            <option value="Khulna">Khulna</option>
            <option value="Rajshahi">Rajshahi</option>
            <option value="Rangpur">Rangpur</option>
            <option value="Sylhet">Sylhet</option>
            <option value="Mymensingh">Mymensingh</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">City / Upazilla:</label>
          <input class="form-control f-control" ng-model="boInfo['nominee_info']['nominee_1_city']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Telephone:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_telephone']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Mobile No:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_mobile']" >
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Passport No.</label>
          <input class="form-control f-control" type="number" ng-model="boInfo['nominee_info']['nominee_1_passport']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Issue Place:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_passport_issue_place']" >
        </div>
      </div>
      <div class="col-md-5 no-padding padding-left phone-padding">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label clearfix col-md-12">Issue Date:</label>
          <input class="form-control f-control" type="text" placeholder="Issue Date" ng-model="boInfo['nominee_info']['nominee_1_passport_issue_date']" ng-click="datePopup.nomineeInfo.nomineeOnePassportIssueDate.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.nomineeInfo.nomineeOnePassportIssueDate.opened" datepicker-options="dateOptions" >
        </div>
      </div>
      <div class="col-md-5 no-padding padding-left phone-padding">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label clearfix col-md-12">Expiry Date:</label>
          <input class="form-control f-control" type="text" placeholder="Issue Date" ng-model="boInfo['nominee_info']['nominee_1_passport_expiry_date']" ng-click="datePopup.nomineeInfo.nomineeOnePassportExpiryDate.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.nomineeInfo.nomineeOnePassportExpiryDate.opened" datepicker-options="dateOptions" >
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Residency:</label>
          <input class="form-control f-control" ng-model="boInfo['nominee_info']['nominee_1_residency']"  type="text">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Nationality:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_nationality']" >
        </div>
      </div>
      <div class="col-md-6 padding-left phone-padding">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label clearfix col-md-12">Date of Birth:</label>
          <input class="form-control f-control" type="text" placeholder="Date of Birth" ng-model="boInfo['nominee_info']['nominee_1_dob']" ng-click="datePopup.nomineeInfo.nomineeOneDob.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.nomineeInfo.nomineeOneDob.opened" datepicker-options="dateOptions" >
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Name of Guardian: (if Nominee is a Minor)</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_name_of_guardian']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Title:</label>
          <select class="form-control f-control" ng-model="boInfo['nominee_info']['nominee_1_guardian_title']" >
            <option selected disabled>Select</option>
            <option value="Mr.">Mr.</option>
            <option value="Ms.">Ms.</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label" style="font-size: 13px;">Relationship with Nominee:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_relationship_minor']" >
        </div>
      </div>
      <div class="col-md-6  phone-padding">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label clearfix col-md-12">Date of Birth of Minor:</label>
          <input class="form-control f-control" type="text" placeholder="Date of Birth of Minor:" ng-model="boInfo['nominee_info']['nominee_1_minor_dob']" ng-click="datePopup.nomineeInfo.nomineeOneMinorDob.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.nomineeInfo.nomineeOneMinorDob.opened" datepicker-options="dateOptions" >
        </div>
      </div>
      <div class="col-md-6 padding-left phone-padding">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label clearfix col-md-12">Maturity Date of Minor:</label>
          <input class="form-control f-control" type="text" placeholder="Maturity Date of Minor:" ng-model="boInfo['nominee_info']['nominee_1_minor_maturity_date']" ng-click="datePopup.nomineeInfo.nomineeOneMaturityDate.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.nomineeInfo.nomineeOneMaturityDate.opened" datepicker-options="dateOptions" >
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Address:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_minor_address']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Post Code:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_minor_post_code']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Country</label>
          <select class="form-control f-control" ng-model="boInfo['nominee_info']['nominee_1_minor_country']" >
            <option selected disabled>Select</option>
            <option value="Bangaladesh">Bangladesh</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">State / Division:</label>
          <select class="form-control f-control" ng-model="boInfo['nominee_info']['nominee_1_minor_state']" >
            <option selected disabled>Select</option>
            <option value="Barisal">Barisal</option>
            <option value="Chittagong">Chittagong</option>
            <option value="Dhaka">Dhaka</option>
            <option value="Khulna">Khulna</option>
            <option value="Rajshahi">Rajshahi</option>
            <option value="Rangpur">Rangpur</option>
            <option value="Sylhet">Sylhet</option>
            <option value="Mymensingh">Mymensingh</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">City / Upazilla:</label>
          <input type="text" class="form-control f-control" ng-model="boInfo['nominee_info']['nominee_1_minor_city']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Telephone:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_minor_telephone']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Mobile No:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_minor_mobile']" >
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Passport No.</label>
          <input class="form-control f-control" type="number" ng-model="boInfo['nominee_info']['nominee_1_minor_passport_no']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Issue Place:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_minor_passport_issue_place']" >
        </div>
      </div>
      <div class="col-md-5 no-padding padding-left phone-padding">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label clearfix col-md-12">Issue Date:</label>
          <input class="form-control f-control" type="text" placeholder="Issue Date" ng-model="boInfo['nominee_info']['nominee_1_minor_passport_issue_date']" ng-click="datePopup.nomineeInfo.nomineeOneMinorPassportIssueDate.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.nomineeInfo.nomineeOneMinorPassportIssueDate.opened" datepicker-options="dateOptions" >
        </div>
      </div>
      <div class="col-md-5 no-padding padding-left phone-padding">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label clearfix col-md-12">Expiry Date:</label>
          <input class="form-control f-control" type="text" placeholder="Issue Date" ng-model="boInfo['nominee_info']['nominee_1_minor_passport_expiry_date']" ng-click="datePopup.nomineeInfo.nomineeOneMinorPassportExpiryDate.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.nomineeInfo.nomineeOneMinorPassportExpiryDate.opened" datepicker-options="dateOptions" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Residency:</label>
          <input type="text" class="form-control f-control" ng-model="boInfo['nominee_info']['nominee_1_minor_residency']" >
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group  fr-group clearfix">
          <label class=" no-padding c-label">Nationality:</label>
          <input class="form-control f-control" type="text" ng-model="boInfo['nominee_info']['nominee_1_minor_nationality']" >
        </div>
      </div>
      <div class="col-md-12" ng-hide="boInfo['applicant_info']['listed_company'] == 'Yes'">
        <div class="b-o-form clearfix">
          <button class="btn btn-form" type="submit">Submit</button>
        </div>
      </div>
      <!--<div class="col-md-4 no-padding padding-left phone-padding">-->
        <!--<div class="form-group  fr-group clearfix">-->
          <!--<label class=" no-padding c-label clearfix col-md-12">Date of Birth:</label>-->
          <!--<input class="form-control f-control" type="text" placeholder="Issue Date" ng-model="boInfo['nominee_info']['nominee_1_minor_dob']" >-->
        <!--</div>-->
      <!--</div>-->
