<h3 class="bio-heading">Power of attorney (POA)</h3>
<div class="bio-form-section">
  <div class="for-bg clearfix">
    <div class="col-md-5">
      <div class="form-group fr-group clearfix">
        <label class=" no-padding c-label">Name of CDBL Participant:</label>
        <input class="form-control f-control f-active" ng-model="boInfo['power_of_attorney']['cdbl_participant_name']" type="text" placeholder="IDLC SECURITIES LIMITED" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group fr-group clearfix">
        <label class=" no-padding c-label">CDBL Participant ID:</label>
        <input class="form-control f-control f-active" ng-model="boInfo['power_of_attorney']['cdbl_participant_id']" type="text" placeholder="3 6 8 0 0" >
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group fr-group clearfix">
        <label class=" no-padding c-label">Account Holder’s BO ID:</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['account_holder_id']" type="text" >
      </div>
    </div>
    <div class="col-md-9">
      <div class="form-group fr-group clearfix">
        <label class=" no-padding c-label">Short Name of Account Holder:<small class="small-text">(Abbreviate only if over 30 characters)</small></label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['account_holder_short_name']" type="text" >
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Title</label>
        <select class="form-control f-control" ng-model="boInfo['power_of_attorney']['account_holder_title']" >
          <option selected disabled>Select</option>
          <option value="Mr.">Mr.</option>
          <option value="Ms.">Ms.</option>
        </select>
      </div>
    </div>
  </div>
  <div class="clearfix">
    <div class="col-md-9">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Name of Power of attorney Holder:</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_name']" type="text" >
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Title</label>
        <select class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_title']" >
          <option selected disabled>Select</option>
          <option value="Mr.">Mr.</option>
          <option value="Ms.">Ms.</option>
        </select>
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Address</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_address']" type="text" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Postcode</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_postcode']" type="text" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Country</label>
        <select class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_country']" >
          <option selected disabled>Select</option>
          <option value="Bangaladesh">Bangladesh</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">State / Division:</label>
        <select class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_division']" >
          <option selected disabled>Select</option>
          <option value="Barisal">Barisal</option>
          <option value="Chittagong">Chittagong</option>
          <option value="Dhaka">Dhaka</option>
          <option value="Khulna">Khulna</option>
          <option value="Rajshahi">Rajshahi</option>
          <option value="Rangpur">Rangpur</option>
          <option value="Sylhet">Sylhet</option>
          <option value="Mymensingh">Mymensingh</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">City / Upazilla:</label>
        <input type="text" class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_upazilla']" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Telephone:</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_telephone']" type="text" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Phone:</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_phone']" type="text" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Fax:</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_fax']" type="text">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Email:</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_email']" type="Email" >
      </div>
    </div>
    <div class="col-md-8">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Passport No.</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_passport_no']" type="text" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Issue Place:</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_issue_place']" type="text" >
      </div>
    </div>
    <div class="col-md-5 no-padding padding-left phone-padding">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label clearfix col-md-12">Issue Date:</label>
        <div class="col-md-12 no-padding-left">
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" type="text" ng-model="boInfo['power_of_attorney']['attorney_holder_date']" placeholder="Issue Date" ng-click="datePopup.powerOfAttorney.attorneyHolderDate.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.powerOfAttorney.attorneyHolderDate.opened" datepicker-options="dateOptions" >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 no-padding padding-left phone-padding">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label clearfix col-md-12">Expiry Date:</label>
        <div class="col-md-12 no-padding-left">
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_expire_date']" type="text" placeholder="Expiry Date" ng-click="datePopup.powerOfAttorney.attorneyHolderExpireDate.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.powerOfAttorney.attorneyHolderExpireDate.opened" datepicker-options="dateOptions" >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Other Information of Power of Attorney Holder</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_other_info']" type="text" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Residency:</label>
        <input type="text" class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_residency']" >
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label">Nationality:</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_nationality']" type="text" >
      </div>
    </div>
    <div class="col-md-4 no-padding padding-left phone-padding">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label clearfix col-md-12">Date of Birth:</label>
        <div class="col-md-12 no-padding-left">
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_dob']" type="text" placeholder="Date of Birth" ng-click="datePopup.powerOfAttorney.attorneyHolderDob.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.powerOfAttorney.attorneyHolderDob.opened" datepicker-options="dateOptions" >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8 no-padding padding-left phone-padding">
      <div class="form-group  fr-group clearfix">
        <label class=" no-padding c-label clearfix col-md-12">Power of Attorney Effective From:</label>
        <div class="col-md-4 no-padding-left">
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" type="text" ng-model="boInfo['power_of_attorney']['attorney_effective_from']" placeholder="Date" ng-click="datePopup.powerOfAttorney.attorneyEffectiveFrom.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.powerOfAttorney.attorneyEffectiveFrom.opened" datepicker-options="dateOptions" >
          </div>
        </div>
        <div class="col-md-1 no-padding-left">
          <div class="form-group  fr-group clearfix text-center">
            TO
          </div>
        </div>
        <div class="col-md-4 no-padding-left">
          <div class="form-group  fr-group clearfix">
            <input class="form-control f-control" type="text" ng-model="boInfo['power_of_attorney']['attorney_effective_to']" placeholder="Date" ng-click="datePopup.powerOfAttorney.attorneyEffectiveTo.open($event)" data-type="string" uib-datepicker-popup="yyyy/MM/dd" is-open="datePopup.powerOfAttorney.attorneyEffectiveTo.opened" datepicker-options="dateOptions" >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-group fr-group clearfix">
        <label class=" no-padding c-label">Remarks: (Insert reference to POA document i.e. Specific POA or General POA etc.)</label>
        <input class="form-control f-control" ng-model="boInfo['power_of_attorney']['attorney_holder_remarks']" type="text" >
      </div>
    </div>

    <div class="col-md-12">
    <div class="b-o-form clearfix">
      <button class="btn btn-form" type="submit">Submit</button>
    </div>
  </div>
  </div>
</div>
