<div class="banner-who" style="background-image:url({{data['titlePhoto'].image}})">
  <div class="d-table">
    <div class="d-cell">
      <h3>{{data['titlePhoto'].title}}</h3>
    </div>
  </div>
</div>
<div class="pro-bg-color clearfix">
  <div class="product-trade togle-btn clearfix">
    <div class="container">
      <div class="row">
        <div class="card-section">
          <div class="panel panel-sets col-md-4" ng-repeat="item in data.products">
            <div class="panel-body panel-sets-body">
              <a ui-sref="whatWeOffer.single({id: item.slug})">
                <img ng-src="{{item.thumbnailImage}}" alt="aaa">
                <div class="card-text">
                  <p>{{item.title}}</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<uib-tabset>-->
      <!--<uib-tab heading="Products">-->
        <!--<div class="container">-->
          <!--<div class="row">-->
            <!--<div class="product-sec">-->
              <!--<h1 class="prodouct-heading">{{data.products.products.slogan.title}}</h1>-->
              <!--<p class="product-description">{{data.products.products.slogan.text}}</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="card-section">-->
              <!--<div class="panel panel-sets col-md-4" ng-repeat="item in data.products.products.items">-->
                <!--<div class="panel-body panel-sets-body">-->
                  <!--<a ui-sref="whatWeOffer.single({id: item.slug})">-->
                    <!--<img ng-src="{{item.image}}" alt="aaa">-->
                    <!--<div class="card-text">-->
                      <!--<p>{{item.title}}</p>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</uib-tab>-->
      <!--<uib-tab heading="Trading">-->
        <!--<div class="container">-->
          <!--<div class="row">-->
            <!--<div class="product-sec">-->
              <!--<h1 class="prodouct-heading">{{data.products.tradings.slogan.title}}</h1>-->
              <!--<p class="product-description">{{data.products.tradings.slogan.text}}</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="row">-->
            <!--<div class="card-section">-->
              <!--<div class="panel panel-sets col-md-4" ng-repeat="item in data.products.tradings.items">-->
                <!--<div class="panel-body panel-sets-body">-->
                  <!--<a ui-sref="whatWeOffer.single({id: item.slug})">-->
                    <!--<img ng-src="{{item.image}}" alt="aaa">-->
                    <!--<div class="card-text">-->
                      <!--<p>{{item.title}}</p>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</uib-tab>-->
    <!--</uib-tabset>-->
  </div>
</div>
<div class="chose-section">
  <h3 class="ch-heading">{{data.whyChooseUs.slogan}}</h3>
  <div class="chose-focus-section clearfix">
    <div class="col-md-6" ng-repeat="whyChooseUs in data.whyChooseUs.data">
      <div class="media chose-media">
        <div class="media-left md-left">
          <img class="media-object" ng-src="{{whyChooseUs.image}}" alt="...">
        </div>
        <div class="media-body m-body">
          <h4 class="media-heading m-head">{{whyChooseUs.title}}</h4>
          <p class="m-para">{{whyChooseUs.description}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
