<div class="banner-who" style="background-image:url({{singleData.productType.image}})">
  <div class="d-table">
    <div class="d-cell">
      <h3>{{singleData.productType.title}}</h3>
    </div>
  </div>
</div>
<div class="tab-heads">
<uib-tabset>

  <uib-tab heading="{{product.title}}" ng-repeat="product in singleData.products">
    <div class="offer-detail-color">
      <div class="container">
        <div class="row">
          <div class="offer-detail-heading">
            {{product.options.feature.title}}
          </div>
        </div>
        <div class="row">
          <div class="offer-tick-section clearfix" ng-if="product.options.feature.options">
            <div class="col-md-6" ng-repeat="feature in product.options.feature.options track by $index">
              <div class="media tick-section">
                <div class="media-left media-middle tick-section-left">
                  <img class="media-object" src="images/checked.svg" alt="...">
                </div>
                <div class="media-body tick-body">
                  <h4 class="media-heading tick-heading">{{feature}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="offer-benifite">
            <div class="benifited-class">
              <div class="benifited-heading">
                {{product.options.benefit.title}}
              </div>
              <div class="benefited-description text-left" ng-bind-html="product.options.benefit.options[0]">
                <!--<ul class="list-unstyled">-->
                  <!--<li ng-repeat="benefit in product.options.benefit.options track by $index">{{$index+1}}. {{benefit}}</li>-->
                <!--</ul>-->
              </div>
            </div>
            <div class="benifited-class">
              <div class="benifited-heading">
                {{product.options.process.title}}
              </div>
              <div class="benefited-description text-left" ng-bind-html="product.options.process.options[0]">
                <!--<ul class="list-unstyled">-->
                <!--<li ng-repeat="benefit in product.options.benefit.options track by $index">{{$index+1}}. {{benefit}}</li>-->
                <!--</ul>-->
              </div>
            </div>
            <!--<uib-accordion close-others="oneAtATime">-->
              <!--<div uib-accordion-group  class="panel-customs" is-open="true">-->
                <!--<uib-accordion-heading>-->
                  <!--{{product.options.process.title}}-->
                <!--</uib-accordion-heading>-->
                <!--<ul class="list-unstyled">-->
                  <!--<li ng-repeat="process in product.options.process.options">{{$index+1}}. {{process}}</li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</uib-accordion>-->
            <div class="bt-apply text-center">
              <a ui-sref="boAccount" class="btn btn-customs">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </uib-tab>
  <!--<uib-tab heading="Trading">-->
    <!--<div class="container">-->
      <!--<div class="row">-->
        <!--<div class="product-sec">-->
          <!--<h1 class="prodouct-heading">{{data.products.tradings.slogan.title}}</h1>-->
          <!--<p class="product-description">{{data.products.tradings.slogan.text}}</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="card-section">-->
          <!--<div class="panel panel-sets col-md-4" ng-repeat="item in data.products.tradings.items">-->
            <!--<div class="panel-body panel-sets-body">-->
              <!--<a ui-sref="whatWeOffer.single({id: item.slug})">-->
                <!--<img ng-src="{{item.image}}" alt="aaa">-->
                <!--<div class="card-text">-->
                  <!--<p>{{item.title}}</p>-->
                <!--</div>-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</uib-tab>-->
</uib-tabset>
<div class="container">
  <div class="row">
    <div class="also-like-section clearfix">
      <h3 class="also-like-head">You may also check those Services</h3>
      <div class="card-section">
        <multi-carousel-slider class="owl-carousel owl-theme">
          <div class="item panel panel-sets" multi-carousel-slider-item="" ng-repeat="product in singleData.relatedProducts">
            <div class="panel-body panel-sets-body">
              <a ui-sref="whatWeOffer.single({id: product.slug})">
                <img ng-src="{{product.thumbnailImage}}" alt="aaa">
                <div class="card-text">
                  <p>{{product.title}}</p>
                </div>
              </a>
            </div>
          </div>
        </multi-carousel-slider>
        <!--<div class="panel panel-sets col-md-4" ng-repeat="product in singleData.relatedProducts">-->
          <!--<div class="panel-body panel-sets-body">-->
            <!--<a ui-sref="whatWeOffer.single({id: product.slug})">-->
              <!--<img ng-src="{{product.image}}" alt="aaa">-->
              <!--<div class="card-text">-->
                <!--<p>{{product.title}}</p>-->
              <!--</div>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      </div>
    </div>
  </div>
</div>
