<!--<pre class="debugger">{{boInfo | json}}</pre>-->
<div class="bio">
  <ul class="bio-account-list list-inline text-center"  ng-init="selected = 1">
    <li ng-class="selected == 1?'active':''">
      <a ng-click="selected=1" class="btn btn-bio">Applicant Info</a>
    </li>
    <li ng-class="selected == 2?'active':''">
      <a ng-click="selected=2" class="btn btn-bio">Joint Holder</a>
    </li>
    <li ng-class="selected == 3?'active':''">
      <a ng-click="selected=3" class="btn btn-bio">BO : Bye Law</a>
    </li>
    <li ng-class="selected == 4?'active':''">
      <a ng-click="selected=4" class="btn btn-bio">Nominee Info</a>
    </li>
    <li ng-class="selected == 5?'active':''" ng-show="boInfo['applicant_info']['listed_company'] == 'Yes'">
      <a ng-click="selected=5" class="btn btn-bio">Power of Attorney</a>
    </li>
    <!--<li ng-class="selected == 6?'active':''">-->
      <!--<a ng-click="selected=6" class="btn btn-bio">File Attachment</a>-->
    <!--</li>-->
  </ul>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form ng-submit="postBo()" ng-class="formHold?'active':''" >
          <div class="tab-content">
            <div role="tabpanel" ng-class="selected == 1?'active':''" class="tab-pane">
              <div ng-include="'views/boForm/applicantInfo.html'"></div>
            </div>
            <div role="tabpanel" ng-class="selected == 2?'active':''" class="tab-pane">
              <div ng-include="'views/boForm/jointHolder.html'"></div>
            </div>
            <div role="tabpanel" ng-class="selected == 3?'active':''" class="tab-pane">
              <div ng-include="'views/boForm/byeLaw.html'"></div>
            </div>
            <div role="tabpanel" ng-class="selected == 4?'active':''" class="tab-pane">
              <div ng-include="'views/boForm/nomineeInfo.html'"></div>
            </div>
            <div role="tabpanel" ng-class="selected == 5?'active':''" class="tab-pane">
              <div ng-include="'views/boForm/powerOfAttorney.html'"></div>
            </div>
            <!--<div role="tabpanel" ng-class="selected == 6?'active':''" class="tab-pane">-->
              <!--<h3 class="bio-heading">Customer Account Information</h3>-->
              <!--<div class="bio-form-section">-->
              <!--</div>-->
            <!--</div>-->
          </div>
        </form>
        <div class="btn-container">
          <button class="btn btn-form" ng-show="selected == 1" type="button" ng-click="selected=2">Next</button>
          <button class="btn btn-form" ng-show="selected == 2" type="button" ng-click="selected=3">Next</button>
          <button class="btn btn-form" ng-show="selected == 3" type="button" ng-click="selected=4">Next</button>
          <button class="btn btn-form" ng-show="selected == 4 && boInfo['applicant_info']['listed_company'] == 'Yes'" type="button" ng-click="selected=5">Next</button>
        </div>
        <!--<ul class="bio-account-list list-inline text-center"  ng-init="selected = 1">-->
          <!--<li ng-class="selected == 1?'active':''">-->
            <!--<a ng-click="selected=1" class="btn btn-bio">Applicant Info</a>-->
          <!--</li>-->
          <!--<li ng-class="selected == 2?'active':''">-->
            <!--<a ng-click="selected=2" class="btn btn-bio">Joint Holder</a>-->
          <!--</li>-->
          <!--<li ng-class="selected == 3?'active':''">-->
            <!--<a ng-click="selected=3" class="btn btn-bio">BO : Bye Law</a>-->
          <!--</li>-->
          <!--<li ng-class="selected == 4?'active':''">-->
            <!--<a ng-click="selected=4" class="btn btn-bio">Nominee Info</a>-->
          <!--</li>-->
          <!--<li ng-class="selected == 5?'active':''">-->
            <!--<a ng-click="selected=5" class="btn btn-bio">Power of Attorney</a>-->
          <!--</li>-->
          <!--<li ng-class="selected == 6?'active':''">-->
            <!--<a ng-click="selected=6" class="btn btn-bio">File Attachment</a>-->
          <!--</li>-->
        <!--</ul>-->
      </div>
    </div>
  </div>
</div>
