<div class="banner-who" style="background-image:url({{data.titlePhoto.image}})">
  <div class="d-table">
    <div class="d-cell">
      <!-- <h3>Contact us</h3> -->
      <h3>{{data.titlePhoto.title}}</h3>
    </div>
  </div>
</div>
<div class="contact-section">
  <div class="container">
    <div class="row">
      <div class="contact-full-section">
        <div class="col-md-6">
          <div class="contact-left-section">
            <h2>{{data.message.title}}</h2>
            <h5 ng-bind-html="data.message.text"></h5>
            <p  ng-if="(data['locateUsTitle'].text | removeHTMLTags) != 'N/A'" ng-bind-html="data.locateUsTitle.text"></p>
            <h3>{{data.branches.topBranch.name}}</h3>
            <ul class="list-unstyled l-style">
              <li>
                <a href=""><i class="fa fa-flag" aria-hidden="true"></i>{{data.branches.topBranch.address}}</a>
              </li>
              <li>
                <a href=""><i class="fa fa-envelope-o" aria-hidden="true"></i>{{data.branches.topBranch.email}}</a>
              </li>
              <li>
                <a href=""><i class="fa fa-phone" aria-hidden="true"></i>{{data.branches.topBranch.phone}}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-slider-section contact-section-right">
            <h2>Request for a Call</h2>
            <form-widget></form-widget>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="store-locator-container clarfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="page-heading">
          <h3>Locate us</h3>
        </div>
        <div class="store-locator-content">
          <div class="custom-map-header">
            <div class="row">
              <div class="col-md-3">
                <div uib-dropdown>
                  <button type="button" class="btn btn-dropdown btn-block" uib-dropdown-toggle>{{districtName}}<i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
                  </button>
                  <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li><a type="button" ng-click="districtFilter('All')" href="javascript:void(0)">All </a></li>
                    <li ng-repeat="marker in markers | unique:'district'"><a type="button" ng-click="districtFilter(marker.district)" href="javascript:void(0)">{{marker.district}}</a></li>
                    <!--<li><a type="button" ng-click="districtFilter('dhaka','Dhaka')" href="javascript:void(0)">Dhaka</a></li>-->
                  </ul>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Enter your location" g-places-autocomplete options="autocompleteOptions" ng-model="place" >
                </div>
              </div>
              <div class="col-md-3">
                <div uib-dropdown>
                    <!-- <a type="button" ng-init="toggleLayer('security','IDLC Securities')"></a> -->
                    <button type="button" class="btn btn-dropdown btn-block" href="javascript:void(0)" ng-init="('security','IDLC Securities')">IDLC Securities 
                    </button>
                  <!-- <button type="button" class="btn btn-dropdown btn-block" uib-dropdown-toggle>{{buttonText}} <i class="fa fa-chevron-down pull-right" aria-hidden="true"></i>
                  </button> -->
                  <!-- <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button"> -->
                    <!-- <li><a type="button" ng-click="toggleLayer('all','All')" href="javascript:void(0)">All </a></li> -->
                    <!-- <li><a type="button" ng-click="toggleLayer('security','IDLC Securities')" href="javascript:void(0)">IDLC Securities </a></li> -->
                    <!-- <li><a type="button" ng-click="toggleLayer('finance','IDLC Finance')" href="javascript:void(0)">IDLC Finance</a></li> -->
                  <!-- </ul> -->
                </div>
                <!--<ul>-->
                  <!--<li ng-class="{active : catStatus === 'all'}"><a type="button"  ng-click="toggleLayer('all')" href="javascript:void(0)">All</a></li>-->
                  <!--<li ng-class="{active : catStatus === 'qubeeStore'}"><a type="button" ng-click="toggleLayer('qubeeStore')" href="javascript:void(0)">QUBEE Store</a></li>-->
                  <!--<li ng-class="{active : catStatus === 'brandedRetail'}"><a type="button"  ng-click="toggleLayer('brandedRetail')" href="javascript:void(0)">Branded Retail</a></li>-->
                <!--</ul>-->
              </div>
            </div>
          </div>
          <div class="custom-map-body clearfix">
            <button class="nav-toggle nav-open btn" style="" ng-click="toggleStoreLocatorControl()"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <div class="custom-map-sidebar {{storeLocatorControl}}">
              <div class="store-locator-scroller">
                <div class="text-center">
                  <button class="nav-open btn btn-close-sidebar" style="" ng-click="toggleStoreLocatorControl()"></i><i class="fa fa-times" aria-hidden="true"></i> Close</button>
                </div>
                <!-- {{markers.branches}} -->
                <!--<pre>{{ markers|json}}</pre>-->
                <ul class="list-unstyled">
                  <li ng-repeat="(key,val) in markers" ng-show="val.visible" ng-class="val.focus ? 'active' : ''">
                    <a ng-click="updateMap(key)" href="javascript:void(0)">
                      <h4>{{val.name}}</h4>
                      <p>{{val.address}}</p>
                      <p>Telephone : {{val.phone }}</p>
                      <p>Email : {{val.email}}</p>
                      <p>Fax : {{val.fax}}</p>
                  </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="custom-map-layer-container">
              <leaflet lf-center="london" markers="markers" layers="layers" width="100%" class="store-locator"></leaflet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
