<div class="banner-who" style="background-image:url({{data['titlePhoto'].image}})">
  <div class="d-table">
    <div class="d-cell">
      <h3>{{data['titlePhoto'].title}}</h3>
    </div>
  </div>
</div>
<div class="bg-col-leader">
  <div class="container">
    <div class="row">
      <div class="pro-leadership">
        <h3 class="pro-leadership-top text-center">{{data.slogan.title}}</h3>
        <!--<p class="pro-leadership-paragraph text-center" ng-bind-html="data.slogan.text"></p>-->
      </div>
      <div class="slogan-description" ng-if="(data.slogan.text | removeHTMLTags) != 'N/A'" ng-bind-html="data.slogan.text"></div>
      <!--<div class="bt-center-leader">-->
        <!--<ul class="list-inline text-center">-->
          <!--<li ng-class="type == ''?'active': ''">-->
            <!--<a href="" class="btn btn-leader btn-lead" ng-click="tabToggle('')">All</a>-->
          <!--</li>-->
          <!--<li ng-repeat="(tab,value) in data.forms.type" ng-class="tab == type?'active': ''">-->
            <!--<a href="" class="btn btn-leader btn-lead" ng-click="tabToggle(tab)">{{value}}</a>-->
          <!--</li>-->
        <!--</ul>-->
      <!--</div>-->
    </div>
    <div class="row">
      <div class="col-md-4" ng-repeat="download in data.forms.data">
        <div class="download-images">
          <img src="images/mask.png" alt="">
          <h3 class="download-heading">{{download.title}}</h3>
        </div>
        <a ng-href="{{download['file']}}" target="_blank" class="download-bottom">
          <h3><i class="fa fa-cloud-download" aria-hidden="true"></i>Download</h3>
        </a>
      </div>
    </div>
  </div>
</div>
