<div class="border-color-section no-border-section clearfix">
  <div class="container">
    <div class="row">
      <div class="bottom-menu clearfix">
        <ul class="list-inline text-center l-center">
          <li><a href="http://idlc.com/trade/" target="_blank">i-Trade</a></li>
          <li ui-sref-active="active"><a ui-sref="whyInvestInBangladesh">Why Invest in Bangladesh</a></li>
          <li ui-sref-active="active"><a ui-sref="knowledgeBase.list">Knowledge Base</a></li>
          <li><a href="http://idlc.com/careers.php" target="_blank">Careers</a></li>
          <li ui-sref-active="active"><a ui-sref="contactUs">Contact us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="footer-left clearfix">
        <div class="col-md-6">
          <div class="footer-logo">
            <a href="">
              <img ng-src="{{setting.setting.logo||'images/logo.svg'}}" alt="">
            </a>
          </div>
          <div class="footer-paragarph">
            <p>{{setting.setting.footerText}}</p>
          </div>
        </div>
        <div class="footer-right clearfix">
          <div class="col-md-6">
            <h3>{{setting.setting.socialTitle}}</h3>
            <ul class="list-inline l-lines">
              <li ng-if="setting.setting.facebook">
                <a target="_blank"  href="{{setting.setting.facebook}}"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              </li>
              <li ng-if="setting.setting.twitter">
                <a target="_blank"  href="{{setting.setting.twitter}}"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
              </li>
              <li ng-if="setting.setting.youtube">
                <a target="_blank"  href="{{setting.setting.youtube}}"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
              </li>
              <li ng-if="setting.setting.pinterest">
                <a target="_blank"  href="{{setting.setting.pinterest}}"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
              </li>
              <li ng-if="setting.setting.googlePlus">
                <a target="_blank" href="{{setting.setting.googlePlus}}"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
              </li>
              <li ng-if="setting.setting.linkedin">
                <a target="_blank" href="{{setting.setting.linkedin}}">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
              </li>
              <li ng-if="setting.setting.instagram">
                <a target="_blank" href="{{setting.setting.instagram}}">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer-last">
  <!--{{currentYear | date:'yyyy'}}-->
  <p>{{setting.setting.copyright}}</p>
</div>
  <script type="text/ng-template" id="required-doc.html">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">{{researchData.slug.title}}</h3>
    </div>
    <div class="modal-body m-home-body" id="modal-body">
      <div ng-if="(researchData.slug.text | removeHTMLTags) != 'N/A'" ng-bind-html="researchData.slug.text"></div>
    </div>
    <div class="modal-footer modal-home-footer">
      <button class="btn btn-normal btn-home-modal" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
  </script>
  <script type="text/ng-template" id="modal-tnc.html">
    <div class="modal-header">
      <h3 class="modal-title" id="modal-title">{{tnc.title}}</h3>
    </div>
    <div class="modal-body m-home-body" id="modal-body">
      <div ng-if="(tnc.text | removeHTMLTags) != 'N/A'" ng-bind-html="tnc.text"></div>
    </div>
    <div class="modal-footer modal-home-footer">
      <button class="btn btn-normal btn-home-modal" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
  </script>
  <script type="text/ng-template" id="modal-form.html">
    <div class="modal-header"> 
        <button class="close" ng-click="$ctrl.cancel()">x</button>
        <h3 class="modal-title" id="modal-title">Need Discussion?</h3>
    </div>
    <div class="modal-body m-home-body m-home-body-s" id="modal-body">
      <h2 class="home-modal-s">Request for a Call</h2>
      <form-widget></form-widget>
    </div>
    <!-- <div class="modal-footer modal-home-footer">
      <button class="btn btn-normal btn-home-modal" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div> -->
  </script>
