<div class="slider-secion">
<home-slider class="owl-carousel owl-theme home-slider">
  <home-slider-item  class="item" ng-repeat="item in data.slider">
    <div class="slider-image" style="background-image:url({{item.image}})">
      <div class="d-table">
        <div class="d-cell">
          <div class="container">
            <div class="row">
              <div class="slider-left-section">
                <h1>{{item.title}}</h1>
                <p>{{item.description}}</p>
                <a href="{{item.action}}" class="btn btn-home">
                 {{item.actionTitle}}
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </home-slider-item>
</home-slider>
</div>
<div class="section-just-for clearfix">
  <div class="container">
    <div class="row">
      <div class="just-for-heading">
        <h6 class="just-for-des-heads">{{data['productAndService'].slogan.title}}</h6>
        <h3 class="just-for-des-para" ng-if="(data['productAndService'].slogan.text | removeHTMLTags) != 'N/A'" ng-bind-html="data['productAndService'].slogan.text"></h3>
      </div>
    </div>
    <div class="row">
      <div class="just-for-description">
        <div class="col-md-3" ng-repeat="product in data['productAndService'].data">
          <div class="just-for-des">
            <img ng-src="{{product.homeImage}}" alt="">
            <h3 class="justheads">{{product.title}}</h3>
            <p class="justpara">{{product.description}}</p>
            <a class="btn btn-customs" href="{{product.action}}">{{product.actionTitle}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wh-choose-section">
  <div class="container">
    <div class="row">
      <div class="just-for-heading just-for-head-second">
        <h3 class="just-for-des-heads" ng-bind-html="data['whyChooseUs'].slogan.title"></h3>
        <h6 class="just-for-des-para" ng-bind-html="data['whyChooseUs'].slogan.text"></h6>
      </div>
      <div class="col-md-6">
        <div class="embed-responsive embed-responsive-16by9"  ng-show="(data.youtubeLink.text | removeHTMLTags) != 'N/A'">
          <!--{{data.youtubeLink.text}}-->
          <iframe class="embed-responsive-item" ng-src="{{data.youtubeLink.text | trusted}}"></iframe>
        </div>
      </div>
      <div class="col-md-6" ng-repeat="choose in data['whyChooseUs'].data">
        <div class="insight-section">
          <div class="media insight-section-main">
            <div class="media-left insight-section-left">
                <img class="media-object" ng-src="{{choose.image}}" alt="{{choose.title}}">
            </div>
            <div class="media-body insight-section-body">
              <h4 class="media-heading insight-section-head">{{choose.title}}</h4>
              <p class="insight-section-paragraph">{{choose.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="bt-service text-center">
        <a ui-sref="whatWeOffer.list" class="btn btn-service">Our Services</a>
      </div>
    </div>
  </div>
</div>
<div class="explore-section">
  <div class="container">
    <div class="row">
      <div class="just-for-heading">
        <h6 class="just-for-des-heads" ng-bind-html="data.report.slogan.title"></h6>
        <h3 class="just-for-des-para" ng-if="(data.report.slogan.text | removeHTMLTags) != 'N/A'" ng-bind-html="data.report.slogan.text"></h3>
      </div>
      <div class="explore-section-main">
        <div class="col-md-6" ng-repeat="report in data.report.data">
          <div class="media explore-section-media">
            <div class="media-left exploren-media-head">
              <a target="_blank" href="{{report.file}}">
                <img class="media-object" src="images/analytics.svg" alt="...">
              </a>
            </div>
            <div class="media-body  exploren-media-body">
              <h4 class="media-heading  exploren-media-he">{{report.title}}</h4>
              <div class="report-down-load">
                <ul class="list-inline report-section-left">
                  <li class="active" ng-show="report.trendReport">
                    <span>Trend Report</span>
                  </li>
                  <li>
                    <span>{{report.date}}</span>
                  </li>
                </ul>
                <a target="_blank" href="{{report.file}}" class="report-section-right">
                  <i class="fa fa-download" aria-hidden="true"></i>Download Report
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="bt-service bt-reports text-center">
        <a ui-sref="research" class="btn btn-service">Explore More Reports</a>
      </div>
    </div>
  </div>
</div>
<!--<div class="knowledge-section">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="just-for-heading">-->
        <!--<h6 class="just-for-des-heads">KNowledge is power</h6>-->
        <!--<h3 class="just-for-des-para">Get access to latest view</h3>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="bt-service text-center">-->
        <!--<a href="" class="btn btn-service">Explore More</a>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->
<div class="bghome-cover">
  <div class="bghome-table">
    <div class="bghome-cell">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="bghome-left">
              <h5 class="bghome-first"> It’s EASIER THAN EVER BEFORE</h5>
              <h3 class="bghome-second">Open a BO Account</h3>
              <h4 class="bghome-third"><a href="" ng-click="open('required-doc.html','md',data.boRequireDoc)">Check Required Documents List</a></h4>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-slider-section bghome-right">
              <form-widget-bo></form-widget-bo>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="fixed-middle">
  <a href="" class="btn btn-red" ng-click="open('modal-form.html','sm',data.boRequireDoc)">
    <div class="icon">
      <i class="fa fa-phone" aria-hidden="true"></i>
      </div>
      <span>Call me</span> 
  </a>
</div>