<!--<pre>{{data | json}}</pre>-->
<div class="banner-who" style="background-image:url({{data['titlePhoto'].image}})">
  <div class="d-table">
    <div class="d-cell">
      <h3>{{data['titlePhoto'].title}}</h3>
    </div>
  </div>
</div>
<div class="pro-bg-color bg-col-leader no-tab-space  clearfix">
  <div class="product-trade togle-btn clearfix">
    <uib-tabset>
      <uib-tab heading="Articles">
        <div class="container" ng-show="data.knowledge.articles.length > 0">
          <div class="row rows-top-space">
            <div class="col-md-6 no-padding">
              <a class="vedio-home-section">
                <img alt="" ng-src="{{data.knowledge.articles[0].image}}">
              </a>
            </div>
            <div class="col-md-6">
              <div class="knowledge-top">
                <h3 class="knowledge-heading">{{data.knowledge.articles[0].title}}</h3>
                <!--<ul class="list-inline">-->
                <!--<li>Finance</li>-->
                <!--<li>15h ago</li>-->
                <!--</ul>-->
                <p class="knowledge-description">{{data.knowledge.articles[0].content | removeHTMLTags}}</p>
                <a href="" class="t-l-ft">Read More</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="ex-article">
              <div class="pro-leadership">
                <h3 class="pro-leadership-top text-center ng-binding">Explore our Articles</h3>
              </div>
              <div class="rows-top-list clearfix" ng-repeat="article in data.knowledge.articles |limitTo:3" ng-if="$index > 0">
                <div class="col-md-6 no-padding">
                  <a class="vedio-home-section">
                    <img alt="" ng-src="{{article.image}}">
                  </a>
                </div>
                <div class="col-md-6">
                  <div class="knowledge-top">
                    <h3 class="knowledge-heading">{{article.title}}</h3>
                    <p class="knowledge-description">{{article.content}}</p>
                    <a href="" class="t-l-ft">Read More</a>
                  </div>
                </div>
              </div>
              <div class="bt-service text-center" ng-if="limit > 3">
                <!--<a ui-sref="whatWeOffer.list" class="btn btn-service" href="#!/what-we-offer/list">View All</a>-->
                <div uib-collapse="!isCollapsed">
                  <div class="rows-top-list clearfix" ng-repeat="article in data.knowledge.articles |limitTo:limit:3">
                    <div class="col-md-6 no-padding">
                      {{article.slug}}
                      <a ui-sref="knowledgeBase.single({article.slug})" class="vedio-home-section">
                        <img alt="" ng-src="{{article.image}}">
                      </a>
                    </div>
                    <div class="col-md-6">
                      <div class="knowledge-top">
                        <h3 class="knowledge-heading">{{article.title}}</h3>
                        <!--<ul class="list-inline">-->
                        <!--<li>Finance</li>-->
                        <!--<li>15h ago</li>-->
                        <!--</ul>-->
                        <p class="knowledge-description">{{article.content}}</p>
                        <a href="" class="t-l-ft">Read More</a>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-service" ng-click="isCollapsed = !isCollapsed"><span ng-if="!isCollapsed">View All</span><span ng-if="isCollapsed">View Less</span></button>
              </div>
            </div>
          </div>
         </div>
      </uib-tab>
      <uib-tab heading="FAQ">
        <div class="container">
          <div class="row">
            <div class="ex-article">
              <div class="pro-leadership">
                <h3 class="pro-leadership-top text-center ng-binding">Frequently Asked Questions</h3>
              </div>
              <!--<div class="bt-center-leader">-->
                <!--<ul class="list-inline text-center">-->
                  <!--<li ng-class="type == ''?'active': ''">-->
                    <!--<a href="" class="btn btn-leader btn-lead" ng-click="tabToggle('')">All</a>-->
                  <!--</li>-->
                  <!--<li ng-class="type == ''?'active': ''">-->
                    <!--<a href="" class="btn btn-leader btn-lead" ng-click="tabToggle('')">Type 1</a>-->
                  <!--</li>-->
                  <!--<li ng-class="type == ''?'active': ''">-->
                    <!--<a href="" class="btn btn-leader btn-lead" ng-click="tabToggle('')">Typ</a>-->
                  <!--</li>-->
                <!--</ul>-->
              <!--</div>-->
              <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group class="panel panel-customs panel-faq" ng-repeat="faq in data.knowledge.faqs" heading="{{faq.title}}">
                  <p>{{faq.content}}</p>
                </div>
              </uib-accordion>
              <!--<div class="panel-group" role="tablist" aria-multiselectable="true">-->
                <!--<div class="panel panel-customs panel-faq">-->
                  <!--<div class="panel-heading p-heads panel-faq-head" role="tab">-->
                    <!--<h4 class="panel-title panel-faq-title">-->
                      <!--<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
                        <!--Why Invest in Bangladesh-->
                      <!--</a>-->
                    <!--</h4>-->
                  <!--</div>-->
                  <!--<div class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">-->
                    <!--<div class="panel-body">-->
                      <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,-->
                      <!--non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,-->
                      <!--sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,-->
                      <!--craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings-->
                      <!--occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus-->
                      <!--labore sustainable VHS.-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="panel-group" role="tablist" aria-multiselectable="true">-->
                <!--<div class="panel panel-customs panel-faq">-->
                  <!--<div class="panel-heading p-heads panel-faq-head" role="tab">-->
                    <!--<h4 class="panel-title panel-faq-title">-->
                      <!--<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
                        <!--Why Invest in Bangladesh-->
                      <!--</a>-->
                    <!--</h4>-->
                  <!--</div>-->
                  <!--<div class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">-->
                    <!--<div class="panel-body">-->
                      <!--Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,-->
                      <!--non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,-->
                      <!--sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,-->
                      <!--craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings-->
                      <!--occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus-->
                      <!--labore sustainable VHS.-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            </div>
          </div>
          <div class="row">
            <div class="know-single">
              <h3 class="know-single-heading">How can (A)I help you? The rise of the bot in financial services</h3>
              <p class="know-single-description">Using data to truly understand consumers is the starting point for all of this. It’s critical that we learn not just who our customers are, but their behaviours, motivations, and intent. And digital data provides especially rich
                Julieta is a graphic designer and owner of ZkySky, a design studio which she co-founded in 1989 after earning a degree in Typeface Design. She lives and works in Montserrat, the first and oldest neighborhood in Buenos Aires. Julieta admires many type designers including Harald Geisler, and fellow Argentines Juan Pablo del Peral and Alejandro Paul. She is currently developing new variants of Montserrat—italics, plus new weights and styles—and dreams that it will soon become a large, extended family.
                Julieta is a graphic designer and owner of ZkySky, a design studio which she co-founded in 1989 after earning a degree in Typeface Design. She lives and works in Montserrat, the first and oldest neighborhood in Buenos Aires. Julieta admires many type designers including Harald Geisler, and fellow Argentines Juan Pablo del Peral and Alejandro Paul. She is currently developing new variants of Montserrat—italics, plus new weights and styles—and dreams that it will soon become a large, extended family.
              </p>
              <div class="konwledge-catagory">
                <ul class="list-inline">
                  <li>Categories: </li>
                  <li>Finance</li>
                  <li>Finance</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
    </div>
  </div>
