<div class="loading" ng-class="loadStatus ? 'active' : ''"></div>

<div class="market-watch-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              <div class="heads">
                {{data.slogan.title || 'Analytical View of the Market'}}
                <div class="slogan-description" ng-if="(data.slogan.text | removeHTMLTags) != 'N/A'" ng-bind-html="data.slogan.text"></div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="space-t-section clearfix">
              <div ng-if="(data.headers.theMarketToday.text | removeHTMLTags) != 'N/A'" ng-bind-html="data.headers.theMarketToday.text" class="market-news-heading">
              </div>
              <div class="col-md-6">
                <div market-today=""></div>
              </div>
              <div class="col-md-6" style="margin-top:5px">
                <div strength-meter=""></div>
              </div>
            </div>
          </div>
        <!-- <div class="row">
          <div class="space-t-section clearfix">

              <div class="col-md-6">

              </div>
          </div>
        </div> -->
        <div class="row">
          <div class="space-t-section clearfix">
            <div ng-if="(data.headers.industryUpdate.text | removeHTMLTags) != 'N/A'" ng-bind-html="data.headers.industryUpdate.text" class="market-news-heading">
            </div>
            <div class="col-md-6">
              <div industry-update=""></div>
            </div>
            <div class="col-md-6">
              <div industry-update-gainer-looser=""></div>
            </div>
            </div>
        </div>
        <div class="row">
          <div class="space-t-section clearfix">
            <!-- <div top-chart=""></div> -->
            <!-- <h3 class="market-news-heading">Top Gainers/Losers</h3> -->
            <div ng-if="(data.headers.topGainersLosers.text | removeHTMLTags) != 'N/A'" ng-bind-html="data.headers.topGainersLosers.text" class="market-news-heading">
            </div>
            <div top-chart=""></div>
          </div>
        </div>
        <div class="row">
          <!-- <div class="col-md-12"> -->
            <div class="space-t-section clearfix">
              <!-- <div top-chart=""></div> -->
              <div ng-if="(data.headers.marketNews.text | removeHTMLTags) != 'N/A'" ng-bind-html="data.headers.marketNews.text"  class="market-news-heading">

              </div>
              <div news-widget=""></div>
            </div>
          <!-- </div> -->
        </div>
    </div>
</div>
