<nav class="navbar headerWrapper">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" ng-click="navOpen()">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand header-brand" ui-sref="home">
        <img ng-src="{{setting.setting.logo||'images/logo.svg'}}" alt="">
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right header-right">
        <li ui-sref-active="active"><a ui-sref="whoWeAre">Who We Are</a></li>
        <li ui-sref-active="active"><a ui-sref="whatWeOffer.list">What We Offer</a></li>
        <li ui-sref-active="active"><a ui-sref="research">Research</a></li>
        <li ui-sref-active="active"><a ui-sref="download">Download</a></li>
        <li ui-sref-active="active"><a ui-sref="boAccount">Open an Account</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<nav class="navbar headerWrapper-bottom">
  <div class="container no-padding border-middle">
    <div class="collapse navbar-collapse no-padding">
      <ul class="nav navbar-nav navbar-left header-right">
        <li><a href="http://idlc.com/trade/" target="_blank">i-Trade</a></li>
        <li ui-sref-active="active"><a ui-sref="marketWatch">Market Watch</a></li>
        <li ui-sref-active="active"><a ui-sref="whyInvestInBangladesh">Why Bangladesh ?</a></li>
        <li ui-sref-active="active"><a ui-sref="knowledgeBase.list">Knowledge Base</a></li>
        <li><a href="http://idlc.com/careers.php" target="_blank">Careers</a></li>
        <li ui-sref-active="active"><a ui-sref="contactUs">Contact us</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right n-right">
        <li>
          <form ng-submit="search()">
            <div class="input-group">
              <input type="text" class="form-control f-ct"  ng-model="searchData.query" placeholder="Search">
            <span class="input-group-btn">
              <button class="btn btn-customs" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
            </div>
          </form>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!--<div class="right-menu" style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776;</span>-->
<!--</div>-->
<div class="sidenav list-unstyled" ng-class="navToggle?'active':''">
  <a href="javascript:void(0)" class="closebtn" ng-click="navOpen()">&times;</a>
  <!-- <li><a href="#">About</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">About</a></li>
  <li><a href="#">About</a></li> -->
  <li ui-sref-active="active"><a ui-sref="whoWeAre">Who We Are</a></li>
  <li ui-sref-active="active"><a ui-sref="whatWeOffer.list">What We Offer</a></li>
  <li ui-sref-active="active"><a ui-sref="research">Research</a></li>
  <li ui-sref-active="active"><a ui-sref="download">Download</a></li>
  <li ui-sref-active="active"><a ui-sref="boAccount">Open an Account</a></li>
  <li ui-sref-active="active"><a href="http://idlc.com/trade/" target="_blank">i-Trade</a></li>
  <li ui-sref-active="active">
    <a ui-sref="marketWatch">Market Watch</a>
  </li>
  <li ui-sref-active="active"><a ui-sref="whyInvestInBangladesh">Why Bangladesh ?</a></li>
  <li ui-sref-active="active"><a ui-sref="knowledgeBase.list">Knowledge Base</a></li>
  <li><a href="http://idlc.com/careers.php" target="_blank">Careers</a></li>
  <li ui-sref-active="active"><a ui-sref="contactUs">Contact us</a></li>
  <li>
    <div class="input-group">
      <input type="text" class="form-control f-ct" placeholder="Search">
            <span class="input-group-btn">
                <button class="btn btn-customs bt-phone-btn" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
            </span>
    </div>
  </li>
</div>
