<div class="banner-who" style="background-image:url({{data['titlePhoto'].image}})">
  <div class="d-table">
    <div class="d-cell">
      <h3>{{data['titlePhoto'].title}}</h3>
    </div>
  </div>
</div>
<div class="bg-col-leader padding-bottom-no">
  <div class="container">
    <div class="row">
      <div class="togle-btn">
        <!--<ul class="list-inline text-center">-->
          <!--<li class="active">-->
            <!--<a href="" class="btn btn-report">Reports</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="" class="btn btn-team">Team</a>-->
          <!--</li>-->
        <!--</ul>-->
        <uib-tabset>
          <uib-tab heading="Reports">
            <div class="pro-leadership">
              <h3 class="pro-leadership-top text-center">{{data.research.reports.slogan.title}}</h3>
              <p class="pro-leadership-paragraph text-center" ng-if="(data.research.reports.slogan.text | removeHTMLTags) != 'N/A'" ng-bind-html="data.research.reports.slogan.text"></p>
            </div>
            <div class="bt-center-leader" ng-show="data.research.reports.data.length > 0">
              <ul class="list-inline text-center">
                <li ng-class="type == ''?'active': ''">
                  <a href="" class="btn btn-leader btn-lead" ng-click="tabToggle('')">All</a>
                </li>
                <li ng-class="tab == type?'active': ''" ng-repeat="(tab,value) in data.research.reports.type">
                  <a href="" class="btn btn-leader btn-lead" ng-click="tabToggle(tab)">{{value}}</a>
                </li>
              </ul>
            </div>
            <div class="row">
              <div class="explore-section-hds explore-section-main clearfix">
                <div class="col-md-6" ng-repeat="report in data.research.reports.data | filter:type">
                  <div class="media explore-section-media">
                    <div class="media-left exploren-media-head">
                      <a target="_blank" href="{{report['file']}}">
                        <img class="media-object" src="images/analytics.svg" alt="...">
                      </a>
                    </div>
                    <div class="media-body  exploren-media-body">
                      <h4 class="media-heading  exploren-media-he">{{report.title}}</h4>
                      <div class="report-down-load">
                        <ul class="list-inline report-section-left">
                          <li class="active" ng-show="report['trendReport']">
                            <span>Trend Report </span>
                          </li>
                          <li>
                            <a href="">{{report.date}}</a>
                          </li>
                        </ul>
                        <a href="{{(report.type !== 'premium') ? report['file'] : 'javascript:void(0);' }}" ng-click="report.type == 'premium' ? open('myModalContent.html','sm',report['file']) : ''" class="report-section-right">
                          <i class="fa fa-download" aria-hidden="true"></i>Download Report
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </uib-tab>
          <uib-tab heading="Team">
            <div class="pro-leadership">
              <h3 class="pro-leadership-top text-center">{{data.research.reports.slogan.title}}</h3>
              <p class="pro-leadership-paragraph text-center" ng-if="(data.research.reports.slogan.text | removeHTMLTags) != 'N/A'" ng-bind-html="data.research.reports.slogan.text"></p>
            </div>
            <uib-accordion close-others="oneAtATime">
              <div class="col-md-6" ng-repeat="group in data.research.teams.data">
                <div uib-accordion-group  class="panel-director">
                  <uib-accordion-heading>
                    <div class="media">
                      <div class="media-left media-middle"><img alt="aaa" class="media-object" ng-src="{{group.image}}"></div>
                      <div class="media-body media-middle media-board-body">
                        <h4>{{group.name}}</h4>
                        <p>{{group.designation}}</p>
                        <!-- <h5>{{group['member_of']}}</h5> -->
                      </div>
                      <div class="media-right m-right media-middle">
                      </div>
                    </div>
                  </uib-accordion-heading>
                  <div class="board-section-middle">
                    <div class="row">
                      <!-- <div class="col-md-4">
                        <div class="left-board-head">
                          Nominated by:
                        </div>
                      </div> -->
                      <!-- <div class="col-md-8">
                        <div class="right-board-head">
                          {{group['nominated_by']}}
                        </div>
                      </div> -->
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <!-- <div class="left-board-head">
                          Business Address:
                        </div> -->
                      </div>
                      <div class="col-md-8">
                        <div class="right-board-head">
                          {{group['business_address']}}
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="left-board-head">
                          Short Bio:
                        </div>
                      </div>
                      <div class="col-md-8">
                        <div class="right-board-head">
                          {{group['short_bio']}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </uib-accordion>
          </uib-tab>
        </uib-tabset>
      </div>
    </div>
  </div>
  <div class="bghome-cover">
    <div class="bghome-table">
      <div class="bghome-cell">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="bghome-left">
                <h5 class="bghome-first"> It’s EASIER THAN EVER BEFORE</h5>
                <h3 class="bghome-second">Open a BO Account</h3>
                <h4 class="bghome-third"><a href="" ng-click="open('required-doc.html','md')">Check Required Documents List</a></h4>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-slider-section bghome-right">
                <form-widget-bo></form-widget-bo>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
      <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Please Fill up the form to download the report</h3>
      </div>
      <div class="modal-body" id="modal-body">
        <form name="researchForm" ng-submit="submit()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" ng-model="researchData.username"/>
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="password" ng-model="researchData.password"/>
          </div>
          <div class="bt-service-sub text-center list-inline">
            <button type="submit" class="btn btn-ser">Submit</button>
            <button class="btn btn-normal" type="button" ng-click="$ctrl.cancel()">Cancel</button>
          </div>
        </form>
      </div>
    </script>
  </div>
</div>
