<div class="bg-col-leader big-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="serach-heading">
          <h3>You have searched for: <span class="color-red">{{query.query}}</span></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="search-media" ng-repeat="(key, value) in results.result">
        <h3>{{key | camelCase}}</h3>
        <div class="media search-media-section" ng-repeat="result in value">
          <div class="media-left media-middle">
            <a ng-href="{{'#!/'+result.url}}">
              <img class="media-object" src="images/magnifying-glass.svg" alt="...">
            </a>
          </div>
          <div class="media-body search-media-body media-middle">
            <ul class="list-inline search-media-list">
              <li>
                <a ng-href="{{'#!/'+result.url}}">{{result.title}}</a>
              </li>
            </ul>
            <p class="search-media-paragraph">{{result.description}}</p>
          </div>
        </div>
      </div>
      <div class="result-not-found text-center" ng-show="results.result.length == 0">
        <h3>UH OH !</h3>
        <p>we looked everywhere , couldn’t find what you’re looking for. Please make sure you spelled everything correctly</p>
      </div>
    </div>
  </div>
</div>
