<div class="banner-who" style="background-image:url(../images/bg.jpg)">
  <div class="d-table">
    <div class="d-cell">
      <h3>What we offer</h3>
    </div>
  </div>
</div>
<div class="tab">

</div>
<div class="pro-bg-color clearfix">
  <div class="product-trade togle-btn clearfix">
    <uib-tabset>
      <uib-tab heading="Default Size">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad cumque distinctio dolorem doloremque eligendi fugit id, iusto laboriosam magnam modi molestias quibusdam repellat repudiandae saepe soluta? Commodi eos quasi quo.</p>
      </uib-tab>
      <uib-tab heading="Small Button" classes="btn-sm">
        
        Tab 2 content
      
      </uib-tab>
    </uib-tabset>
    <!-- <ul class="list-inline">
      <li class="active">
        <a href="">Products</a>
      </li>
      <li>
        <a href="">Trading</a>
      </li>
    </ul> -->
  </div>
  <div class="container">
    <div class="row">
      <div class="product-sec">
        <h1 class="prodouct-heading">Our Products</h1>
        <p class="product-description">We believe that continuous improvement of our products, processes, services, and skills provides long-term success for our employees, dealers, and customers.</p>
      </div>
    </div>
    <div class="row">
      <div class="card-section">
        <div class="panel panel-sets col-md-4">
          <div class="panel-body panel-sets-body">
            <a href="">
              <img src="images/card-image.png" alt="aaa">
              <div class="card-text">
                Execution Brokerage
              </div>
            </a>
          </div>
        </div>
        <div class="panel panel-sets col-md-4">
          <div class="panel-body panel-sets-body">
            <a href="">
              <img src="images/card-image.png" alt="aaa">
              <div class="card-text">
                Execution Brokerage
              </div>
            </a>
          </div>
        </div>
        <div class="panel panel-sets col-md-4">
          <div class="panel-body panel-sets-body">
            <a href="">
              <img src="images/card-image.png" alt="aaa">
              <div class="card-text">
                Execution Brokerage
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="chose-section">
  <h3 class="ch-heading">Why Choose us?</h3>
  <div class="chose-focus-section clearfix">
    <div class="col-md-6">
      <div class="media chose-media">
        <div class="media-left md-left">
          <a href="#">
            <img class="media-object" src="images/shape2.svg" alt="...">
          </a>
        </div>
        <div class="media-body m-body">
          <h4 class="media-heading m-head">Focusing on Clients</h4>
          <p class="m-para">The past few years have seen a dramatic change in the public perception of cosmetic surgery.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media chose-media">
        <div class="media-left md-left">
          <a href="#">
            <img class="media-object" src="images/shape2.svg" alt="...">
          </a>
        </div>
        <div class="media-body m-body">
          <h4 class="media-heading m-head">Focusing on Clients</h4>
          <p class="m-para">The past few years have seen a dramatic change in the public perception of cosmetic surgery.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media chose-media">
        <div class="media-left md-left">
          <a href="#">
            <img class="media-object" src="images/shape2.svg" alt="...">
          </a>
        </div>
        <div class="media-body m-body">
          <h4 class="media-heading m-head">Focusing on Clients</h4>
          <p class="m-para">The past few years have seen a dramatic change in the public perception of cosmetic surgery.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="media chose-media">
        <div class="media-left md-left">
          <a href="#">
            <img class="media-object" src="images/shape2.svg" alt="...">
          </a>
        </div>
        <div class="media-body m-body">
          <h4 class="media-heading m-head">Focusing on Clients</h4>
          <p class="m-para">The past few years have seen a dramatic change in the public perception of cosmetic surgery.</p>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="border-color-section clearfix">
  <div class="container">
    <div class="row">
      <div class="bottom-menu clearfix">
        <ul class="list-inline text-center l-center">
          <li>
            <a href="">Who We Are</a>
          </li>
          <li>
            <a href="">Who We Are</a>
          </li>
          <li>
            <a href="">Market Watch</a>
          </li>
          <li>
            <a href="">Who We Are</a>
          </li>
          <li>
            <a href="">Market Watch</a>
          </li>
          <li>
            <a href="">Who We Are</a>
          </li>
          <li>
            <a href="">Why Invest in Bangladesh</a>
          </li>
          <li>
            <a href="">Who We Are</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<ui-view></ui-view>
