<script type="text/ng-template" id="group-template.html">
  <div class="panel-heading">
    <h4 class="panel-title" style="color:#fa39c3">
      <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
      </a>
    </h4>
  </div>
  <div class="panel-collapse collapse" uib-collapse="!isOpen">
    <div class="panel-body" style="text-align: right" ng-transclude></div>
  </div>
</script>
<div class="banner-who" style="background-image:url({{data.titlePhoto.image}})">
  <div class="d-table">
    <div class="d-cell">
      <h3>{{data.titlePhoto.title}}</h3>
    </div>
  </div>
</div>
<div class="bg-col-leader">
  <div class="container">
    <div class="row">
      <div class="pro-leadership">
        <h3 class="pro-leadership-top text-center">{{data.slogan.title}}</h3>
        <p class="pro-leadership-paragraph text-center" ng-if="(data.slogan.text | removeHTMLTags) != 'N/A'" ng-bind-html="data.slogan.text"></p>
      </div>

      <div class="bt-center-leader">
        <div class="bt-center-leader">
          <ul class="list-inline text-center nav-tabs leader-bottom" ng-init="selected = stateParams.cat || 1">
            <li ng-class="selected == 1?'active':''">
              <a class="btn btn-leader" ng-click="selected=1">Board of Directors</a>
            </li>
            <li ng-class="selected == 2?'active':''">
              <a class="btn btn-leader" ng-click="selected=2">Top Management</a>
            </li>
            <li ng-class="selected == 3?'active':''">
              <a class="btn btn-leader" ng-click="selected=3">Branch Management</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" ng-class="selected == 1?'active':''" class="tab-pane">
            <uib-accordion close-others="oneAtATime">
              <div class="row p-no-space">
                <div class="col-md-6">
                  <div uib-accordion-group ng-init="isOpen = stateParams.id == group.id ? true : false" is-open="isOpen" class="panel-director"
                    ng-repeat="group in data.members.boardOfDirectors" ng-if="$even">
                    <uib-accordion-heading>
                      <div class="media">
                        <div class="media-left media-middle">
                          <img alt="aaa" class="media-object" ng-src="{{group.image}}">
                        </div>
                        <div class="media-body media-middle media-board-body">
                          <h4>{{group.name}}</h4>
                          <p>{{group.designation}}</p>
                          <!-- <h5>{{group['member_of']}}</h5> -->
                        </div>
                        <div class="media-right m-right media-middle">
                          <span class="fa fa-angle-down angle-customize" aria-hidden="true"></span>
                        </div>
                      </div>
                    </uib-accordion-heading>
                    <div class="board-section-middle">
                      <!-- <div class="row">
                        <div class="col-md-4">
                          <div class="left-board-head">
                            Nominated by:
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="right-board-head">
                            {{group['nominated_by']}}
                          </div>
                        </div>
                      </div> -->
                      <!-- <div class="row">
                        <div class="col-md-4">
                          <div class="left-board-head">
                            Business Address:
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="right-board-head">
                            {{group['business_address']}}
                          </div>
                        </div>
                      </div> -->
                      <div class="row">
                        <div class="col-md-4">
                          <div class="left-board-head">
                            Short Bio:
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="right-board-head">
                            {{group['short_bio']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div uib-accordion-group ng-init="isOpen = stateParams.id == group.id ? true : false" is-open="isOpen" class="panel-director"
                    ng-repeat="group in data.members.boardOfDirectors" ng-if="$odd">
                    <uib-accordion-heading>
                      <div class="media">
                        <div class="media-left media-middle">
                          <img alt="aaa" class="media-object" ng-src="{{group.image}}">
                        </div>
                        <div class="media-body media-middle media-board-body">
                          <h4>{{group.name}}</h4>
                          <p>{{group.designation}}</p>
                          <!-- <h5>{{group['member_of']}}</h5> -->
                        </div>
                        <div class="media-right m-right media-middle">
                          <span class="fa fa-angle-down angle-customize" aria-hidden="true"></span>
                        </div>
                      </div>
                    </uib-accordion-heading>
                    <div class="board-section-middle">
                      <!-- <div class="row">
                        <div class="col-md-4">
                          <div class="left-board-head">
                            Nominated by:
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="right-board-head">
                            {{group['nominated_by']}}
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="left-board-head">
                            Business Address:
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="right-board-head">
                            {{group['business_address']}}
                          </div>
                        </div>
                      </div> -->
                      <div class="row">
                        <div class="col-md-4">
                          <div class="left-board-head">
                            Short Bio:
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="right-board-head">
                            {{group['short_bio']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </uib-accordion>
          </div>
          <div role="tabpanel" ng-class="selected == 2?'active':''" class="tab-pane">
            <uib-accordion close-others="oneAtATime">
              <div class="row p-no-space">
                <div class="col-md-6">
                  <div uib-accordion-group ng-init="isOpen = stateParams.id == group.id ? true : false" is-open="isOpen" class="panel-director"
                    ng-repeat="group in data.members.topManagement" ng-if="$even">

                    <uib-accordion-heading>
                      <div class="media">
                        <div class="media-left media-middle">
                          <img alt="aaa" class="media-object" ng-src="{{group.image}}">
                        </div>
                        <div class="media-body media-middle media-board-body">
                          <h4>{{group.name}}</h4>
                          <p>{{group.designation}}</p>
                          <!-- <h5>{{group['member_of']}}</h5> -->
                        </div>
                        <div class="media-right m-right media-middle">
                        </div>
                      </div>
                    </uib-accordion-heading>
                    <div class="board-section-middle">
                      <!-- <div class="row">
                        <div class="col-md-4">
                          <div class="left-board-head">
                            Nominated by:
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="right-board-head">
                            {{group['nominated_by']}}
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-4">
                          <div class="left-board-head">
                            Business Address:
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="right-board-head">
                            {{group['business_address']}}
                          </div>
                        </div>
                      </div> -->
                      <div class="row">
                        <div class="col-md-4">
                          <div class="left-board-head">
                            Short Bio:
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="right-board-head">
                            {{group['short_bio']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div uib-accordion-group ng-init="isOpen = stateParams.id == group.id ? true : false" is-open="isOpen" class="panel-director"
                    ng-repeat="group in data.members.topManagement" ng-if="$odd">
                    <uib-accordion-heading>
                      <div class="media">
                        <div class="media-left media-middle">
                          <img alt="aaa" class="media-object" ng-src="{{group.image}}">
                        </div>
                        <div class="media-body media-middle media-board-body">
                          <h4>{{group.name}}</h4>
                          <p>{{group.designation}}</p>
                          <!-- <h5>{{group['member_of']}}</h5> -->
                        </div>
                        <div class="media-right m-right media-middle">
                        </div>
                      </div>
                    </uib-accordion-heading>
                    <div class="board-section-middle">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="left-board-head">
                            Short Bio:
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="right-board-head">
                            {{group['short_bio']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </uib-accordion>
          </div>
          <div role="tabpanel" ng-class="selected == 3?'active':''" class="tab-pane">
            <uib-accordion close-others="oneAtATime">
              <div class="row p-no-space">
                <div class="col-md-6">
                  <div uib-accordion-group ng-init="isOpen = stateParams.id == group.id ? true : false" is-open="isOpen" class="panel-director"
                    ng-repeat="group in data.members.branchManagement" ng-if="$even">
          
                    <uib-accordion-heading>
                      <div class="media">
                        <div class="media-left media-middle">
                          <img alt="aaa" class="media-object" ng-src="{{group.image}}">
                        </div>
                        <div class="media-body media-middle media-board-body">
                          <h4>{{group.name}}</h4>
                          <p>{{group.designation}}</p>
                          <!-- <h5>{{group['member_of']}}</h5> -->
                        </div>
                        <div class="media-right m-right media-middle">
                        </div>
                      </div>
                    </uib-accordion-heading>
                    <div class="board-section-middle">
                      <!-- <div class="row">
                                  <div class="col-md-4">
                                    <div class="left-board-head">
                                      Nominated by:
                                    </div>
                                  </div>
                                  <div class="col-md-8">
                                    <div class="right-board-head">
                                      {{group['nominated_by']}}
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="left-board-head">
                                      Business Address:
                                    </div>
                                  </div>
                                  <div class="col-md-8">
                                    <div class="right-board-head">
                                      {{group['business_address']}}
                                    </div>
                                  </div>
                                </div> -->
                      <div class="row">
                        <div class="col-md-4">
                          <div class="left-board-head">
                            Short Bio:
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="right-board-head">
                            {{group['short_bio']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div uib-accordion-group ng-init="isOpen = stateParams.id == group.id ? true : false" is-open="isOpen" class="panel-director"
                    ng-repeat="group in data.members.branchManagement" ng-if="$odd">
                    <uib-accordion-heading>
                      <div class="media">
                        <div class="media-left media-middle">
                          <img alt="aaa" class="media-object" ng-src="{{group.image}}">
                        </div>
                        <div class="media-body media-middle media-board-body">
                          <h4>{{group.name}}</h4>
                          <p>{{group.designation}}</p>
                          <!-- <h5>{{group['member_of']}}</h5> -->
                        </div>
                        <div class="media-right m-right media-middle">
                        </div>
                      </div>
                    </uib-accordion-heading>
                    <div class="board-section-middle">
                      <div class="row">
                        <div class="col-md-4">
                          <div class="left-board-head">
                            Short Bio:
                          </div>
                        </div>
                        <div class="col-md-8">
                          <div class="right-board-head">
                            {{group['short_bio']}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </uib-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="download-director">-->
<!--<button class="btn btn-download">Download Directors Related Information</button>-->
<!--</div>-->