<div class="banner-who" style="background-image:url({{data.titlePhoto.image}})">
  <div class="d-table">
    <div class="d-cell">
      <h3>{{data.titlePhoto.title}}</h3>
    </div>
  </div>
</div>
<div class="improve-section">
  <div class="container">
    <div class="row">
      <div class="improve-heads">
        {{data.slogan.title}}
        <div class="slogan-description" ng-if="(data.slogan.text | removeHTMLTags) != 'N/A'" ng-bind-html="data.slogan.text"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" ng-repeat="article in data.articles">
        <div class="improve-all-section">
          <h3 class="improve-all-head">{{article.title}}</h3>
          <p class="improve-all-describtion" ng-bind-html="article.text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="chose-section">
  <h3 class="ch-heading">{{data.sisterConcernsTitle.title}}</h3>
  <div class="chose-focus-section clearfix">
    <div class="col-md-12">
      <a href="{{sisterCon.text}}" ng-repeat="sisterCon in data.sisterConcerns" target="_blank">
      <div class="panel-sets col-md-3">
       
        <div class="panel-body panel-sets-body panel-sister">
         
            <div class="card-next">
              <p>{{sisterCon.title}}</p>
            </div>
      
        </div>
      </div>
        </a>
      <!-- <div ng-bind-html="data.sisterConcerns.text"></div> -->
    </div>
  </div>
</div>
<div class="chose-section">
  <h3 class="ch-heading">{{data.workDomains.slogan}}</h3>
  <div class="chose-focus-section clearfix">
    <div class="col-md-6" ng-repeat="workDomain in data.workDomains.data">
      <div class="media chose-media">
        <div class="media-left md-left">
            <img class="media-object" ng-src="{{workDomain.image}}" alt="...">
        </div>
        <div class="media-body m-body">
          <h4 class="media-heading m-head">{{workDomain.title}}</h4>
          <p class="m-para" ng-bind-html="workDomain.description"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="management-team">
  <div class="container">
    <!-- <div class="row">
      <h3 class="achive-head">Our Leadership Team</h3>
    </div> -->
    <div class="row">
      <!-- <h4 class="board-heading">Board of Directors</h4> -->
      <h4 class="board-heading">{{data.members.boardOfDirectors.title}}</h4>
      <multi-carousel-slider class="owl-carousel owl-theme board-director">
        <a href="javascript:void(0)" ng-click="leadership(1,boardOfDirector.id)" class="item" multi-carousel-slider-item="" ng-repeat="boardOfDirector in data.members.boardOfDirectors.list">
          <div class="board-director-full">
            <img ng-src="{{boardOfDirector.image}}" alt="">
            <h5 class="board-director-heads">{{boardOfDirector.name}}</h5>
            <p class="board-director-para">{{boardOfDirector.designation}}</p>
            <h6 class="board-director-degination">{{boardOfDirector.member_of}}</h6>
          </div>
        </a>
      </multi-carousel-slider>
    </div>
    <div class="row">
      <!-- <h4 class="board-heading">Management Committee</h4> -->
      <h4 class="board-heading">{{data.members.topManagement.title}}</h4>
      <multi-carousel-slider class="owl-carousel owl-theme board-director">
        <a href="javascript:void(0)" ng-click="leadership(2,topManagement.id)" class="item" multi-carousel-slider-item="" ng-repeat="topManagement in data.members.topManagement.list">
          <div class="board-director-full">
            <img ng-src="{{topManagement.image}}" alt="">
            <h5 class="board-director-heads">{{topManagement.name}}</h5>
            <p class="board-director-para">{{topManagement.designation}}</p>
            <h6 class="board-director-degination">{{topManagement.member_of}}</h6>
          </div>
        </a>
      </multi-carousel-slider>
    </div>
    <div class="row">
      <!-- <h4 class="board-heading">Branch Managers</h4> -->
      <h4 class="board-heading">{{data.members.branchManagement.title}}</h4>
      <multi-carousel-slider class="owl-carousel owl-theme board-director">
        <a href="javascript:void(0)" ng-click="leadership(3,branchManagement.id)" class="item" multi-carousel-slider-item="" ng-repeat="branchManagement in data.members.branchManagement.list">
          <div class="board-director-full">
            <img ng-src="{{branchManagement.image}}" alt="">
            <h5 class="board-director-heads">{{branchManagement.name}}</h5>
            <p class="board-director-para">{{branchManagement.designation}}</p>
            <h6 class="board-director-degination">{{branchManagement.member_of}}</h6>
          </div>
        </a>
      </multi-carousel-slider>
    </div>
    <div class="row">
      <div class="bt-service text-center">
        <a ui-sref="whoWeAreAll" class="btn btn-service bt-ser btn-view">View All</a>
      </div>
    </div>
  </div>
</div>
<div class="full-red-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <multi-carousel-slider class="owl-carousel owl-theme">
          <div class="item" multi-carousel-slider-item="" ng-repeat="statistics in data.statistics">
            <div class="p-bottom">
              <h3>{{statistics.value}}</h3>
              <p ng-bind-html="statistics.text"></p>
            </div>
          </div>
        </multi-carousel-slider>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="col-md-3 p-bottom">-->
        <!--<h3>1780</h3>-->
        <!--<p>Million (BDT)</p>-->
        <!--<p>net profit in 2016</p>-->
      <!--</div>-->
      <!--<div class="col-md-3 p-bottom">-->
        <!--<h3>13%</h3>-->
        <!--<p>Million (BDT)</p>-->
        <!--<p>net profit in 2016</p>-->
      <!--</div>-->
      <!--<div class="col-md-3 p-bottom">-->
        <!--<h3>1780</h3>-->
        <!--<p>Million (BDT)</p>-->
        <!--<p>net profit in 2016</p>-->
      <!--</div>-->
      <!--<div class="col-md-3 p-bottom">-->
        <!--<h3>13%</h3>-->
        <!--<p>Million (BDT)</p>-->
        <!--<p>net profit in 2016</p>-->
      <!--</div>-->
      <!--<div class="col-md-3 p-bottom">-->
        <!--<h3>13%</h3>-->
        <!--<p>Million (BDT)</p>-->
        <!--<p>net profit in 2016</p>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
<div class="client-section-bg" ng-show="data.feedback">
  <home-slider class="owl-carousel owl-theme client-section">
    <home-slider-item class="item" ng-repeat="feedback in data.feedback">
      <div class="client-section-full">
        <h3 class="client-section-heads">What Clients are saying</h3>
        <p class="client-section-para">{{feedback.message}}</p>
        <div class="media client-section-media">
          <div class="media-left">
            <a href="#">
              <img class="media-object client-object" ng-src="{{feedback.image}}" alt="...">
            </a>
          </div>
          <div class="media-body client-section-media-body">
            <h4 class="client-section-media-head">{{feedback.name}}</h4>
            <p  class="client-section-media-des">{{feedback.info}}</p>
          </div>
        </div>
      </div>
    </home-slider-item>
  </home-slider>
</div>
