<!-- <div class="banner-who" style="background-image:url({{data['titlePhoto'].image}})">
  <div class="d-table">
    <div class="d-cell">
      <h3>{{data['titlePhoto'].title}}</h3>
    </div>
  </div>
</div> -->
<div class="bg-col-leader big-padding">
  <div class="container">
    <div class="row">
      <div class="wrap-second-invest">
        <!-- <h3 class="invest-second-heading">{{data.report.title}}</h3> -->
        <img ng-src="{{data.report.image}}" alt="" class="big-image">
      </div>
    </div>
    <div class="row p-no-space">
      <div class="wrap-sec-invest">
        <h3 class="invest-section-heading">{{data.slogan.title}}</h3>
        <p class="invest-section-description" ng-if="(data.slogan.text | removeHTMLTags) != 'N/A'" ng-bind-html="data.slogan.text"></p>
        <div class="embed-responsive embed-responsive-16by9" ng-show="(data.youtubeLink.text | removeHTMLTags) != 'N/A'" >
          <iframe class="embed-responsive-item" ng-src="{{data.youtubeLink.text | trusted}}"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
